/* =Responsive Structure
----------------------------------------------- */

/* LARGE */
body {
	background: pink;
}
@media (max-width: 1000px) {
	#firstpage-top-content {
		width: 55.375%;
	}

	#menu ul li a { font-size: 14px; }	
	

	#page { padding: 2%; width: 96%; }

	/* menu style */
	#menu { background-color: transparent; }
	#menu ul li {
		border: none;
		border-radius: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	#menu ul li:last-child { margin-right: 0; }
}


/* SMALL */

@media (max-width: 800px) {
	/* Simplify the basic layout */
	#main #content {
		margin: 0;
		width: auto;
	}
	#branding #searchnavigation {
		margin-left: 12.5%;
		width: 75%;
    }
    #branding #searchresult {
		max-width: 67%;
	}

	#nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}
	
	/* sticky-post */
	.sticky .summary-content .img-wrapper {
		width: 200px;
	}
	
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		margin-left: 102px;
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}

}


@media (max-width: 650px) {
	#menu ul li {
		font-size: 14px;
	}
	#menu  ul li a{
		font-size: 18px;
	}

	/*show dropdown-menu*/
	#menu #dropdown-menu { display: block; }
	/*hide menu elements*/
	#menu {
		margin: 0;
		padding: 0;
	}
	#menu ul { 
		display: none;
		height: auto;
	}
	#menu ul li {
		width: 100% !important;
		float: left;
		display: block;
		clear: right;
		overflow: hidden;
		margin: 0;
	}
	#menu  ul li a{
		padding-top: 0.4em;
		text-align: center;
		font-weight: bold;
	}
	#menu ul li,
	#menu ul li:first-child {
		border-radius: 0;
	}
	#menu ul li:last-child {
		margin-bottom: .4em;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
		
	/* primary m.m. 100% */
	#primary,
	#firstpage-pre-footer-sidebar,	
	#sidebar-wrapper {
		width: 100%;
	}
	
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
	body, input, textarea {
		font-size: 13px;
	}
	#site-title a {
		font-size: 24px;
	}
	#site-description {
		font-size: 12px;
	}
	#menu ul {
		font-size: 12px;
	}
	article.intro .entry-content {
		font-size: 12px;
	}
	.entry-title {
		font-size: 21px;
	}
	.featured-post .entry-title {
		font-size: 14px;
	}
	.singular .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}
	#branding #searchnavigation {
		margin-left: 0%;
		width: 100%;
    }
    #branding #searchresult {
		max-width: 87%;
	}

	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		display: block;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Talking avatars take up too much room at this size */
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .avatar {
		background: transparent;
		display: block;
		padding: 0;
		position: static;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Use the available space in the smaller comment form */
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#content .gallery-columns-3 .gallery-item {
		width: 31%;
		padding-right: 2%;
	}
	#content .gallery-columns-3 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media (max-device-width: 480px) {
	body {
		padding: 0;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}
	
	/* post-image */
	.post .summary-content .img-wrapper {
		width: 100%;
	}
}

/* just for testing */
@media (max-width: 480px) {
	body {
		padding: 0;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}
	
	/* post-image */
	.post .summary-content .img-wrapper {
		width: 100%;
	}
}
