@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch style.scss:style.min.css --style compressed
 * 
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

 
 


 

 

/* UI IMPORTS */
@import "ui/colors";
@import "ui/borders";
@import "ui/fontsizes";
@import "ui/structure";
@import "ui/structure_firstpage";
@import "ui/structure_category";
@import "ui/structure_article";
@import "ui/header";
@import "ui/menu";
@import "ui/navigation";
@import "ui/ui-tabs";
@import "ui/footer";
@import "ui/transitions";
@import "ui/helpers/fixed";
@import "ui/helpers/relative";
@import "ui/helpers/absolute";
@import "ui/helpers/margins";
@import "ui/helpers/dropdown";
@import "ui/popup";
@import "ui/print";















/* to un- .hide element */ 
.unhide {
	position: initial;
	left: 0;
}
.hidden {
	display: none!important;
}
.unhidden {
	display: block!important;
}
@include media-query(palm) {
	.hidden--palm {
		display: none;
	}
}











/* HELP MEDIA QUERY INFO */		
@include media-query(desk) {
	#responsive-info:after {
		content: "DESK";
	}
}
@include media-query(desk-wide) {
	#responsive-info:after {
		content: "DESKWIDE";
	}
}
@include media-query(lap) {
	#responsive-info:after {
		content: "LAP & PORTABLE";
	}
}
@include media-query(palm) {
	#responsive-info:after {
		content: "PALM & PORTABLE";
	}
}
