<<<<<<< HEAD
.content--center, .menu-wrapper, .main, .important-widget .widget-title, .important-widget .textwidget {
	margin: 0 auto;
	width: 1188px;
}
.searchnavigation {
	width: 600px;
	margin-left: 100px;
}

.slideshow {
	width:570px;
}
.logo2 {
	width: 250px;
	float: right;
	margin: -60px 0 0 800px;
}
.primary {
	width: 885px;
}


.firstpage-content {
	width: 582px;
}
.summary-content {
	width: 550px;
}


.summary .img-wrapper {
	width: 282px;
	z-index: 0;
}

.article-wrapper {
	width: 885px;
}
.article-wrapper .content-wrapper {
	width: 620px;
}

.side-content {
	margin-left: 15px;
	width: 190px;
	background-color: #EEF0F1;	
	border-top: 2px solid #9EBDDF;
}


.article-wrapper .entry-meta {
	width: 588px;
}


.icon-left {
	visibility: hidden;
}
.icon-right {
	margin-left: -10px;
}

.category-navigation .parent li.cat-has-children {
	margin-left: -18px;
}
.category-navigation {
	width: 267px;
}


.parent {
	border-left: 1px solid #EEF0F1;
}
.responsive-menu {
	margin: -12px 0;
	visibility: hidden;
}
.responsive-navigation {
	visibility: hidden;
}
.input-wrapper {
	height: 30px;
}


.searchnavigation .form .input-wrapper {
	background-color: #DDD;
	z-index: 10000;
}
.searchnavigation .form .input-wrapper .field {
	padding: 4px 0 0 15px; 
}
.clearbutton {
	padding: 3px 13px 0 0; 
}
.searchnavigation .searchresult-wrapper .searchresult ul {
	width: 255px;
	z-index: 10000;

}


.searchnavigation .searchresult-wrapper {
	z-index: 6000;
}
.firstpage-top-content{
	width: 570px;
	z-index: 1;
}


.main-menu {
	height: 43px;
	border-bottom: 1px solid #AAA;
}
.main-sub-menu {
	height: 48px;
	margin-bottom: 24px;
}

.right-nav-menu-item {
	margin-top: -35px;
}
=======
>>>>>>> Added appealing style to the automatic search results. It can be found at the bottom of the hultsfredskommun\css\style.css file.
