
.white .icon {
	background-image: url("images/sprite-white.png");
}

.contact-wrapper .icon {
	background-image: url("images/sprite.png");
	background-position: -226px 0px;
}
.related_page .icon {
	background-image: url("images/sprite.png");
	background-position: -256px -193px;
}
.related_link .icon {
	background-image: url("images/sprite.png");
	background-position: -2px -322px;
}
.related_file .icon {
	background-image: url("images/sprite.png");
	background-position: -288px -290px;
}
.editlink .icon {
	background-image: url("images/sprite.png");
	background-position: -98px -65px;
}
.print .icon {
	background-image: url("images/sprite.png");
	background-position: -31px -65px;
}
.read .icon {
	background-image: url("images/sprite.png");
	background-position: -130px -354px;
}
.friend .icon {
	background-image: url("images/sprite.png");
	background-position: -287px 0px;
}
.helpus .icon {
	background-image: url("images/sprite.png");
	background-position: -256px -32px;
}
