$border-color:		$gray-color;
$border-style:		dotted;
$border-width:		2px;
$border-radius:		$brand-round;

$border-line-color:		$gray-color;
$border-line-style:		solid;
$border-line-width:		1px;


.main-border {
	border: $border-line-width $border-line-style $main-color;
}
.border {
	border: $border-width $border-style $border-color;
}
.border--top {
	border-top: $border-width $border-style $border-color;
}
.border-light--top {
	border-top: $border-width $border-style $gray-light-color;
}
.border--right {
	border-right: $border-width $border-style $border-color;
}
.border-light--right {
	border-right: $border-width $border-style $gray-light-color;
}
.border--bottom {
	border-bottom: $border-width $border-style $border-color;
}
.border-light--bottom {
	border-bottom: $border-width $border-style $gray-light-color;
}
.border--left {
	border-left: $border-width $border-style $border-color;
}
.border-light--left {
	border-left: $border-width $border-style $gray-light-color;
}

.border-line {
	border: $border-line-width $border-line-style $border-line-color;
}
.border-line--left {
	border-left: $border-line-width $border-line-style $border-line-color;
}
.border-line-main--left {
	border-left: $border-line-width $border-line-style $main-color;
}
.border-line-main--bottom {
	border-bottom: $border-line-width $border-line-style $main-color;
}
.border-main-menu--bottom {
	border-bottom: 4px $border-line-style $main-color;
}
.border-default-menu--bottom {
	border-bottom: 4px $border-line-style $default-color;
}
.border-default-menu--top {
	border-top: 4px $border-line-style $default-color;
}

.border-image--left {
	background-image: url(images/border.png);
	background-repeat: repeat-y;
	background-position: left top;
	background-color: transparent;
}
.border-image--bottom {
	background-image: url(images/border.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: transparent;
}

.border-radius {
	border-radius: $border-radius;
}
.noborder {
	border: 0;
}
.force-noborder {
	border: 0!important;
}
.border-radius--top {
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}
.border-radius--right {
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}
.border-radius--bottom {
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}
.border-radius--left {
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

