/**
 * basic color and stuff
 */
$color:				#454545!default;
$color-light:		$color * 0.5; 
$bg-color:			#454545!default;
$bg-color-light:	$bg-color * 0.5; 
$face:	        	"myriad-pro", Arial, sans-serif!default;


$border-color:		#454545!default;
