/**
 * basic color and stuff
 */
$link-color:				#005BAA!default; 
$hover-color:				#3e3e3f!default;
$default-color:				#3e3e3f!default;
$default-light-color:		#6e6e6f!default;
$main-color:				#3d6a98!default; //5C85B1!default;
$main-light-color:			#849cc3!default;
$main-lighter-color:		#a3b4d2!default;
$main-lightest-color:		#E4EDF6!default;
$complement-color:			#644C20!default;
$complement-light-color:	#8E7042!default;
$important-color:			#A41D30!default;
//$important-color:			#ED1651!default;
$contact-color:				$main-color!default; 
$related-color:				#f8a800!default; 
$related-lightest-color:	#FFF3DA!default; 

$gray-color:				#C6CACB!default;
$gray-light-color:			#E5E6E7!default; //#EEF0F1!default; //E5E6E7
$face:	        			/*"Oxygen", "myriad-pro",  */'Segoe UI', Arial, sans-serif!default;

.hover-text {
	color: $hover-color;
}
.link-text {
	color: $link-color;
}
.force-default-text {
	color: $default-color!important;
}
.default-text {
	color: $default-color;
}
.default-light-text {
	color: $default-light-color;
}
.default-background {
	background-color: $default-color;
}
.main-text {
	color: $main-color;
}
.complement-text {
	color: $complement-color;
}
.complement-light-text {
	color: $complement-light-color;
}
.gray-text {
	color: $gray-color;
}
.gray-light-text {
	color: $gray-light-color;
}
.force-gray-text {
	color: $gray-color!important;
}
.black-text {
	color: #000;
}
.black-background {
	background-color: #000;
}
.white-text {
	color: #fff;
}
.white-background {
	background-color: #fff;
}
.important-text {
	color: $important-color;
}
.black-text-shadow {
	text-shadow: -1px -1px 0px #666;
}
.white-text-shadow {
	text-shadow: 1px 1px 0px #fff;
}


.important-background {
	background-color: $important-color;
}
.complement-background {
	background-color: $complement-color;
}
.transparent-background {
	background-color: transparent;
}
.hover-background {
	background-color: $hover-color;
}
.default-background {
	background-color: $default-color;
}
.white-background {
	background-color: #fff;
}
.main-background {
	background-color: $main-color;
}
.main-light-background {
	background-color: $main-light-color;
}
.main-lighter-background {
	background-color: $main-lighter-color;
}
.gray-background {
	background-color: $gray-color;
}
.gray-light-background {
	background-color: $gray-light-color;
}
.gray-image-background {
	@extend .gray-light-background;
	background-repeat: repeat;
	background-image: url(images/greyTile24bit.png);
}
.contact-background {
	background-color: $contact-color;
}
.related-background {
	background-color: $related-color;
}

