.header-font {
	font-family: Arial, sans-serif;
}
.font-weight-bold {
	font-weight: bold;
}
.font-weight-normal {
	font-weight: normal;
}
.text-decoration-underline {
	text-decoration: underline;
}
.force-font-style-normal {
	font-style: normal!important;
}
.wp-caption-text,
.font-style-italic {
	font-style: italic;
}
.cursor-pointer {
	cursor: pointer;
}
.milli {
	@include font-size($milli-size);
}
.micro {
	@include font-size($micro-size);
}
.nano {
	@include font-size($nano-size);
}
h1, h2, h3, h4, h5, h6 {
	@extend .header-font;
}
@include media-query(portable){
	.alpha/*--#{$state}*/{
		@include font-size($h2-size);
	}
	.beta{
		@include font-size($h3-size);
	}
	.gamma{
		@include font-size($h4-size);
	}
	.delta{
		@include font-size($h5-size);
	}
	body,.epsilon{
		@include font-size($h6-size);
	}
	.zeta{
		@include font-size($milli-size);
	}
	.milli{
		@include font-size($micro-size);
	}

}

/* override h2 - h6 size */
h2 {
    @include font-size($h3-size);
}
h3, h4, h5, h6 {
    @include font-size($base-font-size);
}
h4, h5, h6 {
    @extend .font-style-italic;
}
@include media-query(portable){
    h1 {
        @include font-size($h3-size);
    }
    h2 {
        @include font-size($h5-size);
    }
}

.gamma_responsive {
	@extend .gamma;
	@include media-query(palm) {
		font-size: 13px!important;
	}
	@include media-query(lap) {
		font-size: 13px!important;
	}
}


/*
	@include font-size($nano-size);
	$giga-size:         96px!default;
	$mega-size:         72px!default;
	$kilo-size:         48px!default;

	$h1-size:           22px!default; // .alpha
	$h2-size:           20px!default; // .beta
	$h3-size:           18px!default; // .gamma
	$h4-size:           17px!default; // .delta
	$h5-size:           16px!default; // .epsilon
	$h6-size:           14px!default; // .zeta

	$milli-size:        13px!default; // .milli
	$micro-size:        12px!default; // .micro
	$nano-size:        	10px!default; // .nano
*/

.complement-italic-text {
	@extend .complement-text;
	@extend .font-style-italic;
}



/* default settings */
.widget-title,
h1 {
	margin-bottom: $half-spacing-unit*0.5!important;
	a {
		@extend .default-text;
		line-height: 1.3;
	}
	
}

h1 span {
	@extend .default-text;
	line-height: 1.3;
}
