.colophon {
	@extend .border-default-menu--bottom;
	@extend .margin--top;
}
.footer-wrapper.footer-widget-wrapper {
	//@extend .gray-light-background;
	@extend .gray-image-background;
}

.footer2-wrapper,
.footer2-wrapper a,
.footer-image-wrapper {
	@extend .main-background;
	@extend .white-text;
}
.footer-widget-wrapper {
	@extend .zeta;
	@extend .padding--top;
	@extend .padding--bottom;
	//@extend .border--top;
	h1 {
		@extend .noborder;
		padding: 12px 0 0;
	}
	ul {
		@extend .nav;
		@extend .nav--stacked;
		@extend .nav--block;
		@extend .nav--block-half-margin;
		white-space: normal;
		li a {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
}

.footer-widget-sidebar.one .footer-widgets {
	@extend .one-whole;
}

.footer-widget-sidebar.two .footer-widgets {
	@extend .palm-one-whole;
	@extend .lap-one-half;
	@extend .desk-one-half;
}

.footer-widget-sidebar.three .footer-widgets {
	@extend .palm-one-whole;
	@extend .lap-one-third;
	@extend .desk-one-third;
	@extend .float--left;
}

.footer-widget-sidebar.four .footer-widgets {
	@extend .palm-one-whole;
	@extend .lap-one-half;
	@extend .desk-one-quarter;
	@extend .float--left;
}
.footer-image-wrapper .logo-footer-image {
	@extend .cf;
	img {
		@extend .float--right;
		@extend .island;
	}
}
.scrolltotop {
	@extend .white-background;
	@extend .islet;
	@extend .margin--right;
	@extend .position-fixed--bottom-right;
	border-radius: 15px;
	line-height: 0;
	a {
		@extend .totop-icon;
	}
}
/* hk view widget */
.views-cloud-item {
	margin-right: $half-spacing-unit;
	display: block;
	&.large {
		font-size: 110%;
	}
	&.medium {
		font-size: 105%;
	}
	&.small {
		font-size: 100%;
	}
	&.mini {
		font-size: 90%;
	}
	&.tiny {
		font-size: 80%;
	}
}