/* hide title */
.important-widget {
	@extend .important-background;
	@extend .white-text;
}
.cookieinformation {
	@extend .main-background;
	@extend .padding--top;
	.textwidget {
		a {
			@extend .main-text;
			@extend .font-weight-bold;
			margin-left: $half-spacing-unit;
		}
		@extend .islet;
		@extend .white-background;
		@extend .default-text;
		@extend .border-radius;
	}
}
.cookieinformation,
.important-widget {
	@extend .important-background;
	@extend .white-text;
	position: relative;
	z-index: 2;
	a {
		@extend .white-text;
	}
	.widget-title,
	.textwidget {
		@extend .content--center;
	}
	@extend .padding--bottom;
}

.site-title {
	@extend .hide;
}


/* header structure */
.top-wrapper {
	@extend .gw;
	@extend .margin--bottom;
}
.logo {
	@extend .half-margin--top;
	@extend .g;
	@extend .desk-one-quarter;
	@extend .lap-one-quarter;
	@extend .palm-one-half;
}
.responsive-navigation {
	@extend .g;
	@extend .hide--desk;
	@extend .hide--lap;
	@extend .palm-one-half;
	@extend .float--right;
	@extend .nav;
	@extend .nav--block;
	text-align:right;
}


/* SEARCH */

.searchnavigation {
	@extend .g;
	@extend .hide--palm;
	@extend .desk-two-quarters;
	@extend .lap-two-quarters;
	@extend .palm-one-whole;	
	@extend .half-margin--top;
	.assistive-text {
		position: absolute !important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	.form {
		@extend .cf;
		.input-wrapper {
			@extend .position-relative;
			@extend .nine-tenths;
			@extend .float--left;
			@extend .gray-light-background;
			@extend .border-radius--left;
			.field {
				@extend .transparent-background;
				@extend .padding--left;
				@extend .one-whole;
				@extend .noborder;
			}
			.clearbutton {
				@extend .position-absolute--top-right;
			}
		}
		.submit {
			@extend .one-tenth;
			@extend .float--left;
			@extend .i;
			@extend .gray-background;
			@extend .default-text;
			@extend .border-radius--right;
			@extend .noborder;
			@extend .cf;
		}
		
		.field,
		.submit {
			height: $base-spacing-unit+$half-spacing-unit/2;
		}
	}
	.searchresult-wrapper {
		@extend .position-relative;
		
		
		.searchresult {
			@include arrow(top, left, $gray-light-color, transparent);
			@extend .margin--top;
			@extend .position-absolute;
			z-index: 6000;
			@extend .border-radius;
			@extend .gray-light-background;
			
			ul {
				@extend .nav;
				@extend .nav--block;
				@extend .nav--block-half-margin;
				@extend .nav--stacked;
				@extend .islet;
				@extend .float--left;
				@extend .one-half;
				a, span {
					white-space: normal!important;
				}
			}
		}
	}

}

/* top right menu */
.top-menu-wrapper {
	@extend .main-background;
	@extend .zeta;
	@extend .one-whole;
	@extend .white-text;
	@extend .margin--bottom;
	a {
		@extend .white-text;
	}
	/* set top menu icons */
	.top-menu {
		@extend .text--right;
		@extend .nav;
		@extend .nav--block;
		@extend .flush--bottom;
		.right.menu-item .sub-menu {
			@extend .dropdown__content--right;
			margin-right: -1px;
		}
		.menu-item {
			@extend .dropdown;
			.i {
				@extend .float--left;
				width: $base-spacing-unit;
			}
			&:hover {
				@extend .white-background;
				a {
					@extend .main-text;
				}
			}
			.sub-menu {
				.menu-item:hover {
					@extend .gray-light-background;
				}
				@extend .nav;
				@extend .nav--stacked;
				@extend .nav--block;
				@extend .white-background;
				@extend .nav--stacked;
				@extend .text--left;
				@extend .border-radius--bottom;
				@extend .dropdown__content;
				border-right: $border-line-width $border-line-style $main-color;
				border-bottom: $border-line-width $border-line-style $main-color;
				border-left: $border-line-width $border-line-style $main-color;
				z-index: 100;
				margin-left: -1px;
			}
		}
	}
}



.logo2 {
	@extend .half-margin--top;
	@extend .g;
	@extend .desk-one-quarter;
	@extend .lap-one-quarter;
	@extend .hide--palm;

}




	/* add <i class=i data-icon="&#xF143;"></i> in sites item title */
	/* add <i class=i data-icon="&#xF063;"></i> in translate item title */




