/* hide title */
.important-widget {
	@extend .important-background;
	@extend .white-text;
}
.cookieinformation {
	@extend .main-background;
	@extend .padding--top;
	.textwidget {
		a {
			@extend .link-text;
			@extend .font-weight-bold;
			margin-left: $half-spacing-unit;
		}
		@extend .islet;
		@extend .white-background;
		@extend .default-text;
		@extend .border-radius;
	}
}
.cookieinformation,
.important-widget {
	@extend .important-background;
	@extend .white-text;
	position: relative;
	z-index: 2;
	a {
		@extend .white-text;
	}
	.widget-title,
	.textwidget {
		@extend .content--center;
	}
	@extend .padding--bottom;
}

.site-title {
	@extend .hide;
}


/* header structure */
.top-wrapper {
	@extend .gw;
	@extend .margin--bottom;
	position: relative;
}
.logo {
	@extend .half-margin--top;
	@extend .g;
	@extend .desk-one-quarter;
	@extend .lap-one-quarter;
	@extend .palm-six-tenths;
	a > img {
		max-width: 180px;
	}
	a:focus, a:active {
		outline: auto;
	}
}

/* SEARCH */
.search-title {
	padding: 7px;
}
.searchnavigation {
	@extend .g;
	@extend .desk-one-half;
	@extend .lap-one-half;
	@extend .palm-one-whole;
	/*@extend .hidden--palm; */
	@extend .half-margin--top;
	.assistive-text {
		position: absolute !important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	.form {
		@extend .cf;
		border-radius: 12px;
		border: 2px solid $main-color;
		box-shadow: 1px 1px 10px #666;
		overflow: hidden;
		.input-wrapper {
			@extend .position-relative;
			@extend .desk-eight-tenths;
			@extend .lap-eight-tenths;
			@extend .palm-eight-tenths;
			@extend .float--left;
			.field {
				@extend .transparent-background;
				@extend .padding--left;
				@extend .one-whole;
				@extend .noborder;
			}
			.clearbutton {
				@extend .position-absolute--top-right;
				margin-right: $half-spacing-unit;
			}
		}
		.submit {
			@extend .desk-one-tenth;
			@extend .lap-two-tenths;
			@extend .palm-two-tenths;
			@extend .float--right;
			@extend .white-background;
			@extend .white-text;
			@extend .noborder;
			@extend .cf;
		}
		
		.field,
		.submit {
			height: 44px;
		}
	}
	.searchresult-wrapper {
		@extend .position-relative;
		margin-top: $half-spacing-unit/2;
		
		.searchresult {
			@include arrow(top, left, $main-color, transparent);
			@extend .position-absolute;
			z-index: 6000;
			@extend .border-radius;
			@extend .white-background;
			@extend .main-border;
		}		
	}
	.searchresult {
		@extend .margin--top;
		.search-title {
			@extend .font-weight-bold;
			margin-left: $half-spacing-unit;
			margin-bottom: $half-spacing-unit;
			padding-top: 0;
		}
		
		ul {
			@extend .nav;
			@extend .nav--block;
			@extend .nav--block-half-margin;
			@extend .nav--stacked;
			@extend .islet;
			@extend .float--left;
			@extend .one-half;
			a, span {
				white-space: normal!important;
			}
		}
		ul.search-tele {
			li {
				margin-bottom: $half-spacing-unit;
				span {
					display: block;
					margin-bottom: $half-spacing-unit/3;
					margin-left: $half-spacing-unit;

				}
			}
		}
		.external_more_link {
			@extend .islet;
			@extend .float--left;
			@extend .flush--bottom;
			@extend .font-weight-bold;
		}
	}

}
/*
 * google site search 
 */
 
/* hide search box and results */
.hk-gcse-ajax-searchbox,
.hk-gcse-ajax-searchresults-wrapper {
	@extend .hidden;
}
/* wrap results to get absolut positioning */
.hk-gcse-ajax-searchresults-wrapper {
	position: relative;
	width: 95%;
	margin: 0 auto;
	/*.close-search.close-popup {
		@extend .cursor-pointer;
		@extend .position-absolute;
		@extend .white-background;
		top: -12px;
		right: -12px;
		line-height: 0;
		border-radius: 24px;
		z-index: 1600;
	}*/
	.hk-gcse-ajax-searchresults {
		@extend .white-background;
		@extend .gw;
		@extend .one-whole;
		box-shadow: 1px 1px 10px #666;
		position: absolute;
		top:0;
		left:0;
		z-index: 1500;
		margin-left: 0px;
		.hk-gcse-googleresults {
			@extend .g;
			padding-left: 0px;
			
			
		}
		.hk-gcse-hook-results {
			@extend .g;
			padding: 1em;
			font-family: Arial, sans-serif;
			
			
		
		}
		&.no-hook {
			.hk-gcse-googleresults {
				@extend .one-whole;
			}
			.hk-gcse-hook-results {	
				@extend .hidden;
			}
		}
		&.has-hook {
			.hk-gcse-googleresults {
				@extend .palm-one-whole;
				@extend .lap-two-thirds;
				@extend .desk-two-thirds;
			}
			.hk-gcse-hook-results {	
				@extend .palm-one-whole;
				@extend .lap-one-third;
				@extend .desk-one-third;
			}
		}
		.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
			padding-left: 0px;
		}
	}
}
.search,
.hk-gcse-ajax-searchresults-wrapper {
	.gsc-result-info-container {
		padding: 0;
	}
	//.gsc-table-result, 
	.gsc-thumbnail-inside, 
	.gsc-url-top {
		padding-left: 0px!important;
	}
	.gsc-above-wrapper-area-container,
	.gsc-table-result {
		margin-bottom: 0;
	}
	.gsc-resultsHeader {
		display: none;
	}
	.contact-area {
		padding-left: 6px;
		@extend .cf;
		h3.entry-title {
			@extend .epsilon;
			margin-bottom: 0;
			font-weight: normal;
		}
		.hk_contact_titel {
			float: left;
			margin-right: 8px;
		}
		.contact-wrapper {
			@extend .padding--bottom;
			a.contactlink {
				text-decoration: underline;
			}
		}
	}
	.search-title {
		@extend .delta;
		font-weight: bold!important;
		padding-bottom: 0;
		margin-bottom: 0;
		h3.entry-title {
			margin-bottom: 0;
		}
	}
}
/*
.hk-gcse-overlay {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1999;
}
.hk-gcse-wrapper {
	@extend .one-whole;
	@extend .hidden;
	position: absolute;
	top: 46px;
	
	@include media-query(palm) {
		top: 84px;
		padding: $half-spacing-unit;
	}
	z-index: 5000;
	
	.hk-gcse-border {
		@extend .float--left;
		@extend .border-radius;
		background: white;
		box-shadow: 0px 0px 10px black;
		margin: 0 2% 0 4%;
		width: 94%;
		opacity: 0.95;
	}
	.hk-gcse-results {
		@extend .desk-two-thirds;
		@extend .lap-two-thirds;
		@extend .palm-one-whole;
		@extend .float--left;
	}
	.hk-gcse-hooks {
		@extend .desk-one-third;
		@extend .lap-one-third;
		@extend .palm-one-whole;
		@extend .float--left;
		.search-title {
			@extend .font-weight-bold;
			padding-top: $base-spacing-unit;
		}
	}
}
.gsc-input {
	padding-left: $half-spacing-unit!important;
	padding-right: 0px!important;
}
.gsc-input::-ms-clear {
    display: none;
	height: 0;
	widht: 0;
}
.gsc-input-box {
	background-color: $gray-light-color!important;
	border: 0px!important;
	border-radius: 3px 0 0 3px!important;
	box-shadow: none!important;
	height: $base-spacing-unit!important;
}
input.gsc-input {
	background-color: transparent!important;
	background-image: none!important;
}
.gsc-search-box {
	position: relative;
	z-index: 5002;
	td {
		padding: 0 0 26px;
	}
}
.gsc-search-button {
	border-radius: 0 3px 3px 0!important;
	padding-top: 3px!important;
	margin-left: 0px!important;
	margin-left: 0px!important;
	width: auto!important;
}
.gsc-control-cse {
	padding: 0;
}
.gsc-table-result, 
.gsc-thumbnail-inside, 
.gsc-url-top {
	padding-left: 0px!important;
}
.gsc-above-wrapper-area-container,
.gsc-table-result {
	margin-bottom: 0;
}
.gsc-resultsHeader {
	display: none;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
	height: $base-spacing-unit!important;
}
*/

/* top right menu */
.top-menu-wrapper {
	@extend .border-default-menu--top;
	@extend .hide--palm;
	@extend .main-background;
	@extend .zeta;
	@extend .one-whole;
	@extend .white-text;
	@extend .margin--bottom;
	/* make top-menu responsive */
	@media only screen and (max-width: $desk-wide-start) {
		margin-bottom: 0!important;
	}
	a {
		@extend .white-text;
	}
	/* set top menu icons */
	.top-menu {
		word-spacing: 0;
		@extend .text--right;
		@extend .nav;
		@extend .nav--block;
		@extend .flush--bottom;
		.right.menu-item .sub-menu {
			@extend .dropdown__content--right;
		}
		.menu-item {
			@extend .dropdown;
			.sub-menu {
				@extend .nav;
				@extend .nav--stacked;
				@extend .nav--block;
				@extend .main-background;
				@extend .nav--stacked;
				@extend .text--left;
				@extend .border-radius--bottom;
				@extend .dropdown__content;
				border-right: $border-line-width $border-line-style $main-color;
				border-bottom: $border-line-width $border-line-style $main-color;
				border-left: $border-line-width $border-line-style $main-color;
				z-index: 100;
				margin-left: -1px;
			}
		}
	}
}



.logo2 {
	@extend .half-margin--top;
	@extend .g;
	@extend .desk-one-quarter;
	@extend .lap-one-quarter;
	@extend .hide--palm;

}

