.clip_24x24 {
	@extend .clip;
	width: 24px;
	height: 24px;
}
.clip_12x12 {
	@extend .clip;
	width: 12px;
	height: 12px;
}
.clip {
	background-image: url("../images/icons/icon2.svg");
	display: inline-block;
}
.top-menu .dropdown-icon {
	@extend .clip_12x12;
	margin-left: 2px;
	background-position: -32px -23px;
}
.related-menu .dropdown-icon {
	@extend .clip_12x12;
	margin-left: 2px;
	background-position: -32px -23px;
}

.menu-icon {
	@extend .clip_24x24;
	background-position: -120px -74px;
}

.viewmode_titles {
	@extend .clip_24x24;
	padding: 0!important;
	margin: $half-spacing-unit/2 0!important;
	background-position: -59px -44px;
	&.active {
		background-position: 0px -44px;
	}
}
.viewmode_summary {
	@extend .clip_24x24;
	padding: 0!important;
	margin: $half-spacing-unit/2 0!important;
	background-position: -59px -74px;
	&.active {
		background-position: 0px -74px;
	}
}

