.spinner {
	display: none;
	background: url(../images/icons/spinner.gif) no-repeat;
	background-size: 20px 20px;
	opacity: .7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	margin: 2px 5px 0;
	vertical-align: top;
}

.clip {
	background-image: url("../images/icons/ikoner.svg");
	display: inline-block;
}
.clip_48x48 {
	@extend .clip;
	width: 48px;
	height: 48px;
}
.clip_30x30 {
	@extend .clip;
	width: 30px;
	height: 30px;
}
.clip_24x24 {
	@extend .clip;
	width: 24px;
	height: 24px;
}
.clip_20x20 {
	@extend .clip;
	width: 20px;
	height: 20px;
}
.clip_16x16 {
	@extend .clip;
	width: 16px;
	height: 16px;
}
.clip_12x12 {
	@extend .clip;
	width: 12px;
	height: 12px;
}

.contactlink .contact-icon {
	margin: 0 8px 0 0;
	vertical-align: middle;
}

/* aside icons */
.aside_icon {
	@extend .clip_16x16;
	margin-top: 3px;
}
.contact-icon {
	@extend .aside_icon;
	background-position: -26px -229px;
}
.slideshow-contact-puff-area .contact-icon {
	@extend .clip_48x48;
	background-position: -27px -613px;
}
.related-file-icon {
	@extend .aside_icon;
	background-position: -25px -165px;
}
.related-post-icon {
	@extend .aside_icon;
	background-position: -26px -198px;
}
.related-link-icon {
	@extend .aside_icon;
	background-position: -133px -198px;
}
.print-icon {
	@extend .aside_icon;
	background-position: -26px -263px;
}
.speak-icon {
	@extend .aside_icon;
	background-position: -27px -305px;
}
.friend-icon {
	@extend .aside_icon;
	background-position: -29px -422px;
}
.edit-icon {
	@extend .aside_icon;
	background-position: -25px -94px;
}

.home-icon {
	@extend .clip_16x16;
	background-position: -329px -10px;
}
/* menu */
.navigation-icon {
	@extend .clip_20x20;
	margin: 4px 0 0 -8px;
	padding: 0!important;
	float: left;
}
.cat-icon {
	@extend .clip_20x20;
	background-position: -28px -334px;
}
.category-navigation .cat-icon {
	@extend .navigation-icon;
	background-position: -28px -334px;
}

.category-navigation .tag-icon {
	@extend .navigation-icon;
	background-position: -28px -366px;
}
.delete-icon {
	@extend .clip_20x20;
	background-position: -183px -49px;
	float: right;
	margin: 4px 4px 0 0;
}
.decoration-icon {
	@extend .clip_20x20;
	background-position: -28px -334px;
	vertical-align: middle;
}
.decoration-icon.gray {
	@extend .decoration-icon;
	background-position: -105px -331px;
}
.decoration-icon.white {
	@extend .decoration-icon;
	background-position: -63px -331px;
}


.close-button {
	@extend .clip_20x20;
	background-position: -183px -49px;
}
.totop-icon {
	@extend .clip_30x30;
	background-position: -30px -767px;
}

.info-icon {
	@extend .clip_48x48;
	background-position: -24px -696px;
	vertical-align: middle;
	margin-right: 6px;
}

/* firstpage */
.home .white.tag-icon {
	@extend .clip_20x20;
	background-position: -68px -366px;
	margin-right: 8px;
	vertical-align: middle;
}
.home .tag-icon {
	@extend .clip_20x20;
	background-position: -28px -366px;
	margin-right: 8px;
	vertical-align: middle;
}

.pager-icon {
	@extend .clip_20x20;
	background-position: -238px -95px;
	&.activeSlide {
		background-position: -238px -130px;
	}
}

.left-icon,
.left-icon.gray {
	@extend .clip_12x12;
	margin-left: 2px;
	background-position: -262px -16px;
}
.left-icon.white {
	background-position: -262px -38px;
}
.left-icon.black {
	background-position: -262px -58px;
}

.right-icon,
.right-icon.gray {
	@extend .clip_12x12;
	margin-left: 2px;
	background-position: -283px -16px;
}
.right-icon.white {
	background-position: -283px -38px;
}
.right-icon.black {
	background-position: -283px -58px;
}
.rss-icon {
	@extend .clip_16x16;
	background-position: -354px -9px;
	margin-left: 2px;
}
.category-tools .tag-menu .dropdown-icon,
.dropdown-icon,
.dropdown-icon.black {
	@extend .clip_12x12;
	margin-left: 2px;
	background-position: -25px -30px;
}
.dropdown-icon.white {
	background-position: -57px -30px;
}
.dropdown-icon.up,
.dropdown-icon.up.black {
	background-position: -25px -10px;
}
.dropdown-icon.up.white {
	background-position: -57px -10px;
}
.category-tools .dropdown-icon,
.top-menu .dropdown-icon {
	background-position: -55px -30px;
}
.category-tools .dropdown-icon.up,
.top-menu .dropdown-icon.up {
	background-position: -55px -10px;
}


.right-icon {
	@extend .clip_12x12;
	margin-left: 2px;
	background-position: -284px -59px;
}
.menu-icon {
	@extend .clip_20x20;
	margin: 2px;
	background-position: -156px -470px;
}
.responsive-menu .menu-icon {
	background-position: -207px -470px;
}

.menu-icon.up {
	background-position: -22px -61px;
}

.search-icon {
	@extend .clip_20x20;
	margin: 2px;
	background-position: -207px -502px;	
}
.searchnavigation .submit { /* search-icon */
	@extend .clip;
	width: 45px;
	background-position: -260px -490px;
	@include media-query(palm) {
		width: 10%;
		background-position: -260px -490px;
	}	
}

.eye {
	background-position: -21px -161px;
}
.flag {
	background-position: -41px -161px;
}



.viewmode_titles {
	@extend .clip_24x24;
	padding: 0!important;
	margin: $half-spacing-unit/2 0!important;
	background-position: -99px -469px;
	&.active {
		background-position: -28px -469px;
	}
}
.viewmode_summary {
	@extend .clip_24x24;
	padding: 0!important;
	margin: $half-spacing-unit/2 0!important;
	background-position: -99px -505px;
	&.active {
		background-position: -28px -505px;
	}
}

