.small-words {
	@extend .hide--lap;
	@extend .hide--palm;
	@extend .main-text;
	@extend .float--left;
	@extend .font-style-italic;
	@extend .zeta;
	font-family: times;
	padding: $half-spacing-unit 0 0 $half-spacing-unit*1.5!important;
}
/* main-menu toggle in responsive */
.responsive-menu {
	@extend .hidden--lap;
	@extend .hidden--desk;
	@extend .palm-one-tenth;
	@extend .float--left;
	@extend .nav;
	@extend .nav--block;
	@extend .white-background;
	@extend .flush--bottom;
	li {
		a {
			@extend .main-text;
			padding: $half-spacing-unit 0 0;
		}
	}
	.i {
		@extend .float--left;
		width: $base-spacing-unit;
	}
}
/* main-sub-menu toggle in responsive */
.responsive-sub-menu {
	@extend .hidden--lap;
	@extend .hidden--desk;
	@extend .one-whole;
	@extend .nav;
	@extend .nav--block;
	li {
		a {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.i {
		@extend .float--left;
		width: $base-spacing-unit;
	}
}

/*
 * top navigation 
 */
.main-menu,
.main-sub-menu {
	@extend .hidden--palm;
	@extend .header-font;
	word-spacing: 0;
}
.menu-wrapper {
	@extend .margin--bottom;
	_verflow: hidden;
}
.more-menu-ul,
.main-sub-menu {
	a {
		padding: $half-spacing-unit $half-spacing-unit*1.5!important;
	}
	@include media-query(portable){
	a {
		padding: $half-spacing-unit*0.5 $half-spacing-unit!important;
	}
	}

	@extend .nav;
	@extend .nav--block;
}
.main-menu {
	@extend .epsilon;
	@extend .one-whole;
	margin: $half-spacing-unit*1.5 0;
	text-align: right;
	li {
		display: inline-block;
		padding: $base-spacing-unit/8 $base-spacing-unit/4;
	}
	//@extend .flush--bottom;
	//border-bottom: 1px solid $border-color;
	a {
		@extend .default-text;
		padding: $base-spacing-unit/8 $base-spacing-unit/4;
	}
	/*a:hover,
	&:hover a:hover,
	.current-category-ancestor a,
	.current-menu-item a {
		@extend .border-radius--top;
		@include media-query(palm){
			border-radius: 0;
		}
	}*/
	/*
	a:hover,
	&:hover a:hover {
		@extend .gray-light-background;
		@extend .default-text;
	}*/
	.current-category-ancestor a:hover,
	.current-menu-item a:hover {
		text-decoration: none;
	}
	.current-category-ancestor a,
	.current-menu-item a {
		//@extend .main-background;
		//@extend .white-text;
		//@extend .border-main-menu--bottom;
		@extend .border-default-menu--bottom;
	}

	/*
	&:hover > .current-category-ancestor a,
	&:hover > .current-menu-item a {
		@extend .white-background;
		@extend .default-text;
	}*/
}
.main-sub-menu {
	@extend .gamma;
	@extend .gray-light-background;
	@extend .border-radius;
	margin-bottom: $base-spacing-unit*1.5;
	
	/*@extend .nav--block-double-margin;*/
	a {
		@extend .default-text;
	}
	.menu-item:first-child a {
		//@extend .half-margin--left;
		@extend .border-radius--left;
		//margin-left: $base-spacing-unit/8;
	}
	a:hover,
	&:hover a:hover,
	.current-category-ancestor a,
	.current-menu-item a {
		//@extend .border-radius--bottom;
		@include media-query(palm){
			border-radius: 0;
		}
		//@extend .white-text;
	}
	a:hover,
	&:hover a:hover {
		//@extend .gray-background;
	}
	.current-category-ancestor a,
	.current-menu-item a {
		//@extend .gray-light-background;
		@extend .default-background;
		@extend .white-text;
	}
	/*
	&:hover > .current-category-ancestor a,
	&:hover > .current-menu-item a {
		@extend .white-background;
		@extend .default-text;
	}*/
}
.more-menu {
	@extend .position-relative;
	.more-menu-ul {
		@extend .nav--stacked;
		@extend .position-absolute;
		@extend .gray-light-background;
		right: 0;
		z-index: 5000;
	}
}
.right-nav-menu-item {
	@extend .float--right;
	padding: $half-spacing-unit $base-spacing-unit!important;
}

.tags-wrapper ul {
	@extend .nav;
	@extend .nav--stacked;
}

.more-menu-a i {
	font-size: 85%;
	margin-right: $half-spacing-unit/2;
}

/* make responsive */
//@include media-query(desk-wide) {

@media only screen and (max-width: $desk-wide-start) and (min-width: $desk-start) {
	.main-sub-menu {
		a {
			font-size: 90%;
		}
	}
}
@media only screen and (max-width: $desk-wide-start) {
	.main-sub-menu {
		li {
			border-radius: $border-radius;
			background: $gray-light-color;
			margin: 0 $half-spacing-unit $half-spacing-unit 0;
		}
		white-space: normal;
		background: white;
	}
}
@media only screen and (max-width: $desk-start) and (min-width: $lap-large-start) {
	.main-sub-menu {
		a {
		}
	}
}
@media only screen and (max-width: $lap-large-start) and (min-width: $lap-start) {
	.main-sub-menu {
		a {
		}
	}
}

/*@media only screen and (max-width: $lap-large-start) and (min-width: $lap-start) {
.main-sub-menu > li > a {
	white-space: normal!important;
}
}
@media only screen and (max-width: $desk-small-start) and (min-width: $lap-large-start) {
.main-sub-menu > li > a {
	white-space: normal!important;
}
}*/
/*
@include media-query(desk-wide) {
	.right-nav-menu-item {
		padding: $half-spacing-unit $base-spacing-unit!important;
	}
	.main-menu,
	.main-sub-menu {
		a {
			padding: $half-spacing-unit $base-spacing-unit!important;
		}
	}
}
*/


/*
 * category navigation
 */

.more-in-navigation,
.sort-order {
	@extend .hidden--palm;
}

@include media-query(palm) {
.main-menu,
.main-sub-menu {
	// manually copied instead of @extend .nav--stacked
    > li{
        display:list-item;

        > a{
            display:block;
        }
    }
}
}
