.small-words {
	@extend .hide--lap;
	@extend .hide--palm;
	@extend .main-text;
	@extend .float--left;
	@extend .font-style-italic;
	@extend .zeta;
	font-family: times;
	padding: $half-spacing-unit 0 0 $half-spacing-unit*1.5!important;
}
/* main-menu toggle in responsive */
.responsive-menu {
	@extend .g;
	@extend .half-margin--top;
	@extend .hidden--lap;
	@extend .hidden--desk;
	@extend .palm-four-tenths;
	@extend .flush--bottom;
	a {
		@extend .float--right;
		@extend .main-background;
		@extend .border-radius;
		line-height: 0;
		margin-left: 4px;
		span {
			margin: 4px;
		}
	}
}

/* main-sub-menu toggle in responsive */
.responsive-sub-menu {
	@extend .hidden--lap;
	@extend .hidden--desk;
	@extend .one-whole;
	@extend .gray-light-background;
	@extend .border-radius;
	@extend .cf;
	a {
		@extend .float--left;
		@extend .default-text;
		padding: $half-spacing-unit/2 0;
		span {
			@extend .float--left;
			margin-right: $half-spacing-unit/2;
			&.dropdown-icon {
				margin-top: 5px;
			}
		}
		&.menu-up {
			width: 10%;
			border-right: 1px solid $gray-color;
			margin-right: 2%;
			span {
			
			}
		}
		&.menu {
			width: 88%;
		}

	}
}

/*
 * top navigation 
 */
.main-menu,
.main-sub-menu {
	@extend .hidden--palm;
	@extend .header-font;
	word-spacing: 0;
}
.menu-wrapper {
	@extend .margin--bottom;
	_verflow: hidden;
}
.more-menu-ul,
.main-sub-menu {
	a {
		padding: $half-spacing-unit $half-spacing-unit*1.5!important;
	}
	@extend .nav;
	@extend .nav--block;
}
.main-menu {
	@extend .epsilon;
	@extend .one-whole;
	margin: $half-spacing-unit*1.5 0;
	text-align: right;
	li {
		display: inline-block;
		padding: $base-spacing-unit/8 $base-spacing-unit/4;
	}
	a {
		@extend .default-text;
		padding: $base-spacing-unit/8 $base-spacing-unit/4;
	}
	.current-category-ancestor a:hover,
	.current-menu-item a:hover {
		text-decoration: none;
	}
	.current-category-ancestor a,
	.current-menu-item a {
		@extend .border-default-menu--bottom;
	}

}
.main-sub-menu {
	
	@extend .gray-light-background;
	@extend .border-radius;
	margin-bottom: $base-spacing-unit*1.5;
	a {
		@extend .gamma;
		@extend .default-text;
	}
	.menu-item:first-child a {
		@extend .border-radius--left;
	}
	a:hover,
	&:hover a:hover,
	.current-category-ancestor a,
	.current-menu-item a {
		@extend .border-radius;
	}
	.current-category-ancestor a,
	.current-menu-item a {
		@extend .default-background;
		@extend .white-text;
	}
}
.main-sub-menu .menu-item.one-whole {
	@extend .flush--right;
}
.right-nav-menu-item {
	@extend .float--right;
	padding: $half-spacing-unit $base-spacing-unit!important;
}

.tags-wrapper ul {
	@extend .nav;
	@extend .nav--stacked;
}


/* make main-sub-menu responsive */
@media only screen and (max-width: $desk-wide-start) {
	.main-sub-menu {
		a {
			padding: $half-spacing-unit*0.5 $half-spacing-unit!important;
			font-size: $h4-size;
		}
		li {
			border-radius: $border-radius;
			background-color: $gray-light-color;
			margin: 0 $half-spacing-unit $half-spacing-unit 0;
			background-image: url(../images/spr_bgButtons.png);
			background-position: 0 0;
			border: 1px solid $gray-color;
		}
		white-space: normal;
		background-color: white;
	}
	.responsive-sub-menu {
		border-radius: $border-radius;
		background-color: $gray-light-color;
		margin: 0 $half-spacing-unit $half-spacing-unit 0;
		background-image: url(../images/spr_bgButtons.png);
		background-position: 0 0;
		border: 1px solid $gray-color;
	}
}

@include media-query(palm){
/* make main-menu phone */
.home .responsive-sub-menu {
	display: none;
}
.home .main-sub-menu {
	display: block;
	li {
		margin: 0 0 $half-spacing-unit/2 0;
	}
}
.main-menu {
	text-align: left;
	background-color: $gray-light-color;
	border-radius: $border-radius;
	.current-category-ancestor a, .current-menu-item a {
		border: 0;
		font-weight: bold;
	}
}
.category-navigation {
	width: 100%;
	nav {
		background-color: $gray-light-color;
		border-radius: $border-radius;
	}
}
/* make main-sub-menu phone */

}




/*
 * category navigation
 */

.more-in-navigation,
.sort-order {
	@extend .hidden--palm;
}

@include media-query(palm) {
.main-menu,
.main-sub-menu {
	// manually copied instead of @extend .nav--stacked
    > li{
        display:list-item;

        > a{
            display:block;
        }
    }
}
}
