/* text colors */

.home .category-navigation {
	@extend .hidden--palm;
}
.new-menu .menu-icon {
	@extend .hidden;
}
.old-menu.single,
.old-menu.archive {
	.category-navigation {
		@extend .hidden--palm;
		.expand-icon { 
			@extend .hidden;
		}
	}
}
.new-menu .category-navigation {
	.cat-icon,
	.tag-icon { 
		@extend .hidden--palm;
	}
	.expand-icon {
		@extend .hidden--lap;
		@extend .hidden--desk;
	}
}
.category-navigation {
	@extend .g;
	//@extend .palm-one-whole;
	@extend .lap-one-third;
	@extend .desk-one-third;

	@extend .header-font;
	.heading {
		@extend .font-weight-bold;
		@extend .force-noborder;
	}
	a {
		@extend .default-text;
	}
	/*ul {
		@extend .nav;
		@extend .nav--stacked;
	}*/
	.parent {
		// add icon..
		@extend .half-padding--left;
		@extend .nav;
		@extend .nav--block;
		@extend .nav--block-break;
		@extend .nav--block-half-margin;
		@extend .nav--stacked;

		li {
			@extend .default-text;
			@extend .border-line--left;

			&.current-cat > a {
				//@extend .gray-light-background;
				@extend .font-weight-bold;
			}
			
			&.current-cat > .children > li {
				@extend .border-line-main--left;
			}
			&.current-cat {
				& > a > i,
				& > a {
					@extend .link-text;
				}
			}
			/*
			&.current-cat,
			&:hover {
				@extend .border-line-main--left;
				& > a > i,
				& > a {
					@extend .hover-text;
				}
			}*/
			&.cat-has-children {
				//@extend .noborder;
			}
			&.current-cat,
			&.current-cat-parent {
				> .children {
					@extend .unhidden;
				}
			}
			.children {
				@extend .hidden;
				@extend .half-padding--left;
				@extend .nav;
				@extend .nav--block;
				@extend .nav--block-break;
				@extend .nav--block-half-margin;
				@extend .nav--stacked;
			}
		}
	}


	.more-navigation {
		@extend .half-padding--left;
		@extend .nav;
		@extend .nav--block;
		@extend .nav--block-break;
		@extend .nav--block-half-margin;
		@extend .nav--stacked;
		a {
			@extend .default-text;
		}
		li {
			@extend .default-text;
			@extend .border-line--left;
			&.current-tag {
				@extend .gray-light-background;
			}
			&.current-tag,
			&:hover {
				@extend .border-line-main--left;
				& > a > i,
				& > a {
					@extend .hover-text;
				}
			}
		}
	}
}

@include media-query(palm) {
	.old-menu .category-navigation {
		width: 100%;
		nav {
			background-color: $gray-light-color;
			border-radius: $border-radius;
		}
	}
	.new-menu .category-navigation {
		width: 100%;
		nav ul {
			background-color: $gray-light-color;
			padding-bottom: 6px;
		}
		.parent {
			margin-bottom: 4px;
		}
		.more-navigation {
			li {
				border-left: none;
				a {
					padding-left: 0;
				}
				&.atag-item {
					display: none;
				}
			}
		}
	}

	.new-menu .category-navigation {
		.heading {
			position: relative;
			a {
				padding-left: 0;
				font-weight: normal!important;
				color: $default-color!important;
				font-size: 17px;
			}
		}
	}
}
