.form-popup.overlay,
.contact-popup.overlay {
	@extend .position-fixed;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1999;
}
.form-popup.box,
.contact-popup.box {
	@extend .white-background;
	@extend .default-text;
	@extend .position-fixed;
	width: 80%;
	height: 80%;
	z-index: 2000;
	top: 10%;
	left: 10%;
	@extend .border-radius;
	.close-contact {
		@extend .cursor-pointer;
		@extend .position-absolute;
		@extend .white-background;
		top: -12px;
		right: -12px;
		line-height: 0;
		border-radius: 24px;
		z-index: 6000;
	}
	.entry-wrapper {
		@extend .position-relative;
		overflow: auto;
		height: 100%;
		width: 100%;
		.entry-content {
			@extend .island;
			overflow: initial;
		}
		.img-wrapper {
			width: 150px;
			@extend .img--left;
			@extend .flush--bottom;
		}
	}
}

@include media-query(desk) {
.contact-popup.box {
	.entry-wrapper.hasmap {
		overflow: initial;
		.entry-content {
			overflow: auto;
			float: left !important;
			width: 50%;
			height: 100%;
		}
		.side-map {
			float: right !important;
			width: 50%;
		}
	}
}
.form-popup.box {
	width: 40%;
	left: 30%;
}
}