@media print {

.top-menu-wrapper,
.searchnavigation,
.responsive-menu,
.responsive-sub-menu,
.menu-wrapper,
#breadcrumb,
.category-navigation,
.page-header,
.closeButton,
.related,
.tools,
#comments,
.more-from-heading,
#related_posts,
#contact-side-tab,
#comment-side-tab,
#colophon,
#scrollTo_top,
.important-widget,
.content-header,
.side-content .contact-icon,
.side-content .related-icon
{
	display: none;
}
.article-border-wrapper {
	border: 0;
	box-shadow: none;
}
.side-content .contact_title.title,
.side-content .related_title.title {
	color: black;
}
}