/* text colors */
html {
	@extend .default-text;
}
a,
a:active,
a:focus {
	@extend .main-text;
}
a:hover {
	@extend .hover-text;
	text-decoration: none;
}


html {
	font-family: $face;
}

.content--center {
	margin: 0 auto;
	max-width: 1000px;
}

.branding,
.main,
.footer-widget-sidebar,
.footer-image {
	@extend .content--center;
}
.main-wrapper {
	@extend .gw;
}


/* extend nav--block with breaking white-space */
.nav--block-break {
	white-space:normal!important;
}

 /*
 * Responsive helper
 */
#responsive-info
{
	@extend .position-fixed--bottom-right;
	@extend .islet;
	@extend .flush--bottom;
	background: black;
	color: white;
	font-weight: bold;
	z-index: 10000;
	border-top-left-radius: 0.4em;
}


