.firstpage-top-content {
	@extend .g;
	@extend .desk-one-half;
	@extend .lap-one-half;
	@extend .palm-one-whole;
}
.firstpage-sidebar {
	@extend .g;
	@extend .desk-one-half;
	@extend .lap-one-half;
	@extend .palm-one-whole;
	@extend .float--right;
}
.firstpage-content {
	@extend .g;
	@extend .desk-one-half;
	@extend .lap-one-half;
	@extend .palm-one-whole;
}
.firstpage-pre-footer-sidebar {
	@extend .g;
	@extend .one-whole;
}

.time {
	@extend .cf;
	@extend .complement-text;
	@extend .font-style-italic;
	@extend .zeta;
	display: block;
}

.img-wrapper {
	line-height: 0;
}
.slideshow {
	@extend .margin--bottom;
	.slideshow_bg {
		@extend .one-whole;
	}
	.slide {
		img {
			@extend .one-whole;
		}
		.caption-area {
			@extend .float--left;
			@extend .position-absolute--bottom-left;
			@extend .one-whole;
			z-index: 1000;
			.transparent {
				@extend .position-absolute;
				@extend .border-radius--bottom;
				@extend .one-whole;
				@extend .complement-background;
				height: 100%;
				opacity: 0.75;
				z-index: 1050;
			}
			.caption {
				@extend .white-text;
				@extend .position-relative;
				@extend .islet;
				@extend .flush--bottom;
				line-height: 1.5;
				display: block;
				z-index: 1100;
				
			}
		}
	}
}
.widget .contact-wrapper {
	line-height: 0;
}
.contact-wrapper {
	
	@extend .gray-image-background;
	@extend .cf;
	@extend .position-relative;
	@extend .one-whole;
	overflow: hidden;
	img {
		@extend .one-whole;
	}
	.content-wrapper {
		@extend .position-absolute--top-left;
		h1 {
			@extend .float--left;
			@extend .one-whole;
			@extend .noborder;
			a {
				@extend .margin--top;
				@extend .margin--right;
				@extend .margin--left;
				@extend .half-padding--bottom;
				@extend .border--bottom;
				display: block;
			}
		}
		.i {
			width: $base-spacing-unit;
			font-size: 90%;
			text-align: left;
		}		
		ul {
			@extend .float--left;
			@extend .half-margin--top;
			@extend .nav;
			@extend .nav--block;
			@extend .nav--block-half-margin;
			@extend .nav--block-double-margin;
			@extend .nav--block-break;
			@extend .nav--stacked;
		}
		ul.two {
			@extend .palm-one-whole;
			@extend .lap-one-whole;
			@extend .desk-one-half;
		}
		ul.right-content {
			@extend .border--left;
			@extend .hide--palm;
			@extend .hide--lap;
		}
	}
}
