.contact-wrapper {
	.pager {
		@extend .force-hidden;
	}
	.content {
		@extend .complement-italic-text;
		padding-bottom: 0;
	}
	.title-content {
		@extend .complement-italic-text;
	}
}
.single-hk_kontakter .type-hk_kontakter {
	@extend .one-whole;
	display: inline-block;	
}
.single-hk_kontakter .type-hk_kontakter .hk_kontakter {
	@extend .half-margin;
}


.muted .spinner {
	display: inline-block;
}

.full .article-border-wrapper {
	@extend .border-light--right;
	@extend .border-light--left;
	//box-shadow: inset 0px 0px 25px #f3f3f3;
}
.single.full .article-border-wrapper {
	@extend .border-light--top;
}
.article-border-wrapper:hover {
	//box-shadow: inset 0px 0px 25px #f0f0f0;
}

/* hide article-wrapper if only titles */
.viewmode-only-titles {
	.summary .entry-content,
	.summary .img-wrapper,
	.summary .side-content {
		@extend .force-hidden;
	}
	.summary h1.entry-title {
		@extend .zeta;
	}
	.summary .article-border-wrapper {
		@extend .noborder;
	
	}
	.summary .article-wrapper,
	.summary .content-wrapper {
		margin: 0;
	}
}

/* firstpage article style */
.home .post .content-wrapper {
	@extend .one-whole;
}
.home .post:first-child .article-wrapper {
	margin-top: 0;
}
/* article style */
.summary .article-wrapper {
	.side-content {
		display:none;
	}
	@include media-query(desk) {
	.side-content {
		display: block;
	}
	}
}


.full .hide_full {
	display: none!important;
}
/* the article content */
article.post {
	//@extend .landmark;
	@extend .one-whole;
	@extend .cf;
	@extend .half-padding--bottom;
	&.summary .article-border-wrapper {
		@extend .half-padding--bottom;
	}
}
.article-border-wrapper {
	@extend .float--left;
	@extend .one-whole;
	//@extend .border-light--top;
	@extend .border-light--bottom;
		 
	//@extend .half-padding--left;
	@extend .cf;

	.article-wrapper {
		@extend .float--left;
		//@extend .half-margin--top;
		@extend .one-whole;
		overflow: hidden;
		h2, h3 {
			margin-bottom: $half-spacing-unit/2;
		}
		a {
			@extend .force-font-style-normal;
			//@extend .font-weight-bold;
		}
		.close-button-item {
			@extend .float--right;
			
			//display: inline-block;
			//vertical-align: top;
			//line-height: 20px;
		}
		.summary-content {
			@extend .hand;
			@extend .half-margin--top;
			h1.entry-title {
				@extend .font-weight-normal;
				@extend .half-margin--top;
				margin: 0!important;
				@extend .one-whole;
				@extend .gamma;
			}
			.entry-content .introwords {
				@extend .link-text;
				//@extend .font-weight-bold;
			}
			.entry-content:hover {
				@extend .text-decoration-underline;
			}
		}
		.single-content,
		.more-content {
			/* header */
			.content-header { 
				@extend .gray-light-background;
				@extend .default-light-text;
				@extend .half-margin--bottom;
				.header-tools {
					@extend .nav;
					@extend .nav--block;
					@extend .nav--block-half-margin;
					@extend .flush--bottom;
					.item {
						@extend .position-relative;
						a {
							@extend .default-light-text;
							@extend .position-relative;
						}
					}
					.dropdown {
						@extend .hidden;
						@extend .position-absolute;
						@extend .gray-light-background;
						width: 250px;
						margin: 0;
						padding: $half-spacing-unit;
						list-style-type: none;
						z-index: 100;
						a {
							@extend .float--left;
						}
						.rsbtn_btnlabel a {
							float: right!important;
							line-height: 12px;
						}
					}
					.close-item {
						//@extend .float--right;
					}
				}
			}
			.entry-title,
			.content, 
			.img-wrapper,
			.side-content {
				@extend .half-padding--left;
				@extend .half-padding--right;
			}
			.entry-title {
				@include font-size(26px);
				line-height: 1.1em;
				width: auto;
				display: inline;
				float: left;
			}
			.quick-links {
				@extend .float--right;
				.quick-link {
					@extend .border-radius;
					display: inline-block;
					margin: 0 $half-spacing-unit $half-spacing-unit/4 0;
					padding: $half-spacing-unit/4;
					line-height: 20px;
				}
				.icon {
					margin-right: 0;
				}
				.related {
					@extend .related-background;
				}
				.contact {
					@extend .contact-background;
				}
			}
			.content {
				a {
					@extend .text-decoration-underline;
				}
				.contact-wrapper {
					.entry-title {
						float: none;
						padding: 0;
					}
					.img-wrapper {
						padding: 0;
					}
				}
			}
		}
		
		.content-wrapper {
			//@extend .margin--top;
			@extend .float--left;
			@extend .one-whole;
			//margin-top: $half-spacing-unit!important;
			//@extend .half-margin--bottom;
			.contact-area {
				@extend .cf;
				@extend .half-margin--bottom;
				.img-wrapper {
					@extend .float--left;
					@extend .one-quarter;
					@extend .margin--right;
				}
				h3.entry-title {
					margin-bottom: 0;
				}
			}
		}
		
		.side-content {

			@extend .float--left;
			@extend .one-whole;
			
			@extend .zeta;
			.more-contacts {
				@extend .padding--left;
			}
			.optional-text {
				@extend .half-padding;
				@extend .border-radius;
				@extend .margin--bottom;
				background: $gray-light-color;
				p:last-child {
					@extend .flush--bottom;
				}
			}
		}
		@include media-query(desk) {
		.side-content {
			border-left: 0;
			float: right!important;
		}
		}
		.entry-meta {
			@extend .float--left;
			@extend .one-whole;
			@extend .margin--top;
			//@extend .margin--bottom;
			@extend .gray-light-background;
				
			.footer-wrapper {
				//border-left: 4px solid $complement-color;	
				@extend .nav;
				@extend .complement-text;
				@extend .font-style-italic;
				@extend .milli;
				@extend .half-margin;
				li {
					display: block;
				}
				/*a {
					@extend .font-weight-normal;
				}*/
			}
			#comments {
				@extend .half-margin;
			}
			.close-link {
				
				@extend .float--right;
				@extend .half-margin--right;
				@extend .half-margin--bottom;
				.close-icon {
					vertical-align: sub;
				}
			}
		}
		.thanks-message {
			@extend .beta;
			@extend .font-weight-bold;
		}
	}
}

.map_link {
	@extend .cursor-pointer;
}
/*
.close-button {
	@extend .float--right;
	vertical-align: top;
	line-height: 20px;
	width: auto!important;
	padding-left: $base-spacing-unit;
}
*/
/*	
.button {
	@extend .cursor-pointer;
	&.top {	
		margin: 0px $half-spacing-unit;
		float: none;
	}
	&.top,
	&.bottom {
		@extend .force-noborder;
		@extend .border-radius;
		@extend .default-background;
		@extend .white-text;
		@extend .zeta;
		font-weight: normal;
		background-image: none;
		margin: -$half-spacing-unit*1.5 0 0 $base-spacing-unit;
		padding: $half-spacing-unit/2 $half-spacing-unit;
		a {
			@extend .white-text;
		}
	}
	&.bottom {
		@extend .float--left;
	}
}
.summary .button.top,
.single.full .button.top,
.summary .button.bottom {
	display: none;
}
*/


/* article footer*/
.summary .entry-meta {
	@extend .hidden;
}

/* featured images */
.summary .img-wrapper {
	@extend .half-margin--right;
	@extend .img--left;
	@extend .flush--bottom;
	@extend .one-quarter;
}
@include media-query(portable) {

}
.content {
	@extend .float--left;
	//@extend .padding--right;
	@extend .padding--bottom;
	@extend .one-whole;
}
.post.hk_kontakter .img-wrapper,
.single.hk_kontakter .img-wrapper {
	@extend .one-quarter;
	@extend .margin--right;
}
.post .entry-title {
	
}
.entry-title .dropdown-icon {
	margin-left: 4px;
}
.single.full .dropdown-icon {
	background-image: none;
}
.side-map, .map_canvas {
	height: 200px;
}
article.single .map_canvas {
	//@extend .margin--right;
}
.post .img-wrapper,
.single .img-wrapper {
	@extend .float--left;
	@extend .one-whole;
}
.slide, .slide img {
	@extend .one-whole;
}
.pager-wrapper {
	@extend .position-absolute--bottom-left;
	@extend .islet;
	@extend .flush--bottom;
	z-index: 100;
}
.pager {
	@extend .nav;
	@extend .nav--block;
	@extend .flush--bottom;
	float: left;
	.activeSlide {
		@extend .white;
	}
}
.pager-pause {
	float: left;
}



/* aside content */
.side-content { 
	ul li {
		@extend .cf;
	}
	.contacts {
		margin-top: 0;
	}
	.contacts,
	.related,
	.tools {
		@extend .nav;
		@extend .nav--stacked;
	}
	.tools {
		@extend .flush--bottom;
	}

	ul {
		@extend .border-radius;
		@extend .half-margin--top;
		@extend .margin--bottom;
		@extend .half-padding--bottom;

		&.contacts {
			background: $main-lightest-color;
			.title.contact_title {
				@extend .contact-background;
				@extend .white-text;
			}
		}
		&.related {
			background: $related-lightest-color;
		}
	}
	.aside-list-item {
		@extend .half-margin--left;
	}
	.title {
		@extend .black-text;
		@extend .half-padding--top;
		@extend .half-padding--bottom;
		@extend .related-background;
		@extend .half-padding--left;
		@extend .half-margin--bottom;
		@extend .border-radius--top;
		@extend .beta;
		line-height: 0;
	}
}
article.summary .full {
	@extend .hidden;
}
@include media-query(palm) {
article.summary .summary {
	display: none;
}
}
@include media-query(lap) {
article.summary .summary {
	display: none;
}
}
@include media-query(desk) {
.summary-content,
.more-content,
.single-content {
	//padding-right: $base-spacing-unit;
}
}
.more-from-heading {
	@extend .margin--top;
	@extend .margin--bottom;
	@extend .beta;
}

