.firstpage-top-content {
	@extend .g;
	//@extend .desk-one-half;
	//@extend .lap-one-half;
	//@extend .palm-one-whole;
	@extend .one-whole;
}
.firstpage-sidebar {
	@extend .g;
	@extend .desk-one-quarter;
	@extend .lap-one-half;
	@extend .palm-one-whole;
}
.firstpage-content {
	@extend .g;
	@extend .desk-one-half;
	@extend .lap-one-whole;
	@extend .palm-one-whole;
}
.firstpage-pre-footer-sidebar {
	@extend .g;
	@extend .one-whole;
}

.time {
	@extend .cf;
	@extend .complement-text;
	@extend .font-style-italic;
	@extend .zeta;
	display: block;
}
.read-more-link {
	@extend .half-margin--top;
	@extend .half-margin--bottom;
	@extend .cf;
	display: block;
	clear: both;
}
.read-more-widget {
	@extend .half-margin--top;
}
.sub-title {
	@extend .font-style-italic;
	@extend .white-text;
	@extend .half-margin--left;
	@extend .half-margin--bottom;
	@extend .zeta;
	margin-top: -12px;
	
}

.newscontent {
	@extend .margin--bottom;
}
.newscontent .widget {
	@extend .flush--bottom;
}
.box-list.newscontent {
	.post {
		.article-border-wrapper {
			@extend .noborder;
			padding-left: 0;
			&:hover {
				box-shadow: none;
			}
			.article-wrapper {
				margin-top: 0;
				.content-wrapper {
					@extend .margin--bottom;
					.summary-content {
						padding-right: 0;
					}
				}
			}
		}
		.img-wrapper {
			@extend .one-whole;
			@extend .half-padding--bottom;
		}
		.entry-content {
			display: none;
		}
		@extend .one-half;
		@extend .float--left;
	}
	.post:nth-child(odd) {
		padding-right: $half-spacing-unit;
	}
	.post:nth-child(even) {
		padding-left: $half-spacing-unit;
	}
}


.main .widget {
	.entry-wrapper {
		@extend .half-margin--bottom;
	}
}
/* driftinfo - widget_hk_wp_feed_rss_widget */
.widget_hk_wp_feed_rss_widget.widget {
	@extend .islet;
	@extend .border-radius;
	@extend .important-background;
	a, span, h1 {
		@extend .white-text;
	}
	h1 {
		padding-top: 0;
		@extend .float--left;
		@extend .one-whole;
		@extend .alpha;
		.info-icon {
			vertical-align: top;
		}
	}
	.sub-title {
		@extend .float--left;
		margin-top: -42px;
		margin-left: 54px;
	}
	.content-wrapper {
		&.hide_date .entry-wrapper {
			@extend .flush--bottom;
		}
		@extend .float--left;
		@extend .one-whole;
		@extend .cf;
	}
	&.horizontal {
		h1 {
			padding-bottom: 0;
			margin-bottom: 0!important;
			@extend .desk-three-tenths;
			@extend .lap-four-tenths;
			@extend .palm-one-whole;
		}
		.content-wrapper {
			@extend .desk-seven-tenths;
			@extend .lap-six-tenths;
			@extend .palm-one-whole;
		}
		.entry-wrapper {
			@extend .flush--bottom;
			span, a {
				@extend .float--left;
				@extend .margin--right;
			}
			@extend .cf;
		}	
	}
	.read-more-link {
		@extend .flush--bottom;
	}
}

.img-wrapper {
	line-height: 0;
}
.summary-content .caption {
	@extend .hidden;
}
.slideshow {
	@extend .margin--bottom;
	.slideshow_bg {
		@extend .one-whole;
	}
	.slide {
		img {
			@extend .one-whole;
			border-right: 1px solid white;
		}
		.caption {
			@extend .border-radius;
			@extend .float--left;
			@extend .gray-light-background;
			@extend .position-absolute--bottom-right;
			@extend .epsilon;
			display: block;
			margin: 0 $half-spacing-unit $half-spacing-unit 0;
			padding: 0 $half-spacing-unit 0;
			z-index: 1000;
			
		}
		.caption-area {
			@extend .float--left;
			@extend .position-absolute--top-left;
			padding: 0 0 $half-spacing-unit;
			margin: $base-spacing-unit 0 0 $base-spacing-unit;
			max-width: 35%;
			z-index: 1000;
			.transparent {
				@extend .position-absolute;
				@extend .default-background;
				@extend .border-radius;
				@extend .one-whole;
				height: 100%;
				opacity: 0.4;
				z-index: 1050;
			}
			.caption {
				@extend .white-text;
				@extend .position-relative;
				@extend .islet;
				@extend .flush--bottom;
				@extend .one-whole;
				padding-bottom: 0;
				line-height: 1.5;
				display: block;
				z-index: 1100;
				
			}
		}
	}
}
.home .img-wrapper .slideshow {
	@extend .force-hidden--palm;
}


/* slideshow/contact/puff widget on first page */
.home .slideshow-contact-puff-area {
	line-height: 0;
	margin-bottom: $half-spacing-unit/2;
	@extend .cf;
	@extend .position-relative;
	@extend .one-whole;
	overflow: hidden;
	@include media-query(palm){
		height: 266px!important;	
	}
	.caption {
		@extend .one-third;
	}
	
	img {
		@extend .one-whole;
		border-radius: $border-radius $border-radius 0 0;
	}
	.content-wrapper {
		@extend .desk-five-twelfths;
		@extend .lap-seven-twelfths;
		@extend .palm-one-whole;
		opacity: 0.9;
		@extend .position-absolute--top-right;
		z-index: 200;
		height: 100%;
		.complement-italic-text {
			line-height: 0;
		}
		h1 {
			@extend .alpha;
			@extend .float--left;
			@extend .one-whole;
			@extend .noborder;
			padding: 0;
			a {
				@extend .margin--top;
				@extend .margin--left;
				@extend .half-padding--bottom;
				display: block;
			}
			.contact-icon {
				@extend .float--left;
			}
			.main-contact-link {
				@extend .float--left;
				&:hover {
					text-decoration: underline;
				}
			}
			.more-contact-link {
				@extend .zeta;
				@extend .cf;
				@extend .font-style-italic;
				display: block;
			}
		}
		ul {
			@extend .flush;
			@extend .nav;
			@extend .nav--block;
			@extend .nav--block-half-margin;
			@extend .nav--block-double-margin;
			@extend .nav--block-break;
			@extend .nav--stacked;
		}
		.left-content {
			height: 100%;
			@extend .float--left;
			@extend .palm-one-whole;
			@extend .lap-one-whole;
			@extend .desk-one-whole;
			@extend .main-background;
			@extend .white-text;
			.complement-italic-text, a {
				@extend .white-text;
			}

		}
		.two.left-content {
			//@extend .desk-seven-tenths;
			@extend .seven-tenths;
		}
		.right-content {
			height: 100%;
			@extend .float--right;
			//@extend .hide--palm;
			//@extend .hide--lap;
			//@extend .desk-three-tenths;
			@extend .three-tenths;
			.direct_link:first-child {
				border-top-right-radius: $border-radius;
			}
			.direct_link:last-child {
				/*border-bottom-right-radius: $border-radius;*/
			}
			.direct_link1 {
				border-top: 0!important;
			}
			.direct_link1, .direct_link2, .direct_link3, .direct_link4, .direct_link5 {
				border-left: 3px solid white;
				border-top: 3px solid white;
				@extend .default-background;
				@extend .white-text;
				@extend .one-whole;
				@extend .islet;
				@extend .gamma;
				@extend .flush;
				.complement-italic-text, a {
					@extend .white-text;
				}
			}		
		}
	}
}
/* only contact widget on first page */
.home .contact-area .contact-wrapper {
	line-height: 0;
	@extend .gray-image-background;
	@extend .cf;
	@extend .position-relative;
	@extend .one-whole;
	overflow: hidden;
	img {
		@extend .one-whole;
	}
	.content-wrapper {
		.complement-italic-text {
			line-height: 0;
		}
		@extend .position-absolute--top-left;
		h1 {
			@include media-query(palm){
				padding: 0;
			}
			@include media-query(lap){
				padding: 0;
			}
			@extend .float--left;
			@extend .one-whole;
			@extend .noborder;
			a {
				@extend .margin--top;
				@extend .margin--right;
				@extend .margin--left;
				@extend .half-padding--bottom;
				display: block;
			}
		}
		ul {
			@extend .float--left;
			@extend .half-margin--top;
			@extend .nav;
			@extend .nav--block;
			@extend .nav--block-half-margin;
			@extend .nav--block-double-margin;
			@extend .nav--block-break;
			@extend .nav--stacked;
		}
		ul.two {
			@extend .palm-one-whole;
			@extend .lap-one-whole;
			@extend .desk-one-half;
		}
		ul.right-content {
			@extend .border--left;
			@extend .hide--palm;
			@extend .hide--lap;
		}
	}
}
/* horizontal widgets (related and tags) */
.main .widget.horizontal-list.widget_hk_related_widget,
.main .widget.horizontal-list.HK_tags_widget {
	h1 {
		@extend .float--left;
		padding-bottom: 0;
		padding-top: $half-spacing-unit/2;
		width: auto;
	}
	ul {
		@extend .nav;
		@extend .nav--block;
		@extend .nav--block-break;
		@extend .flush--bottom;
	}
}
/* hk_textwidget on firstpage */
.main .widget.widget_hk_textwidget {
	h1 {
		@extend .alpha;
	}
	img.image {
		width: 100%;
	}
	.inner-wrapper {
		@extend .border-radius;
		@extend .islet;
		.content {
			padding-bottom: 0;
		}
	}
	.content {
		float: none!important;
	}
}
/* aditro widget */
.main .widget.widget_hk_aditro_rss_widget {
	.entry-wrapper {
		margin-bottom: $half-spacing-unit/2!important;
		a {
			padding-bottom: 0!important;
		}
		.time {
			@extend .white-text;
			padding-bottom: $half-spacing-unit/2!important;
			padding-left: $half-spacing-unit;
		}
	}
}
.main .widget.widget_hk_aditro_rss_widget {
	@extend .default-background;
}
.main .widget.widget_hk_related_widget,
.main .widget.widget_hk_protocol,
.main .widget.HK_tags_widget {
	@extend .main-background;
}

.main .widget.widget_hk_related_widget {
	ul {
		padding-bottom: $half-spacing-unit/2!important;
	}
}

.home .main .firstpage-top-content .widget.HK_tags_widget {
	@extend .gray-background;
	a {
		@extend .black-text;
	}
	h1 {
		@extend .black-text;
	}
	border-radius: 0 0 $border-radius $border-radius;
	margin-bottom: $base-spacing-unit*1.5;
	ul {
		padding-right: $base-spacing-unit;
	}
}
.main .widget.widget_hk_aditro_rss_widget,
.main .widget.widget_hk_related_widget,
.main .widget.widget_hk_protocol,
.main .widget.HK_tags_widget {
	@extend .border-radius;
	@extend .cf;
	a {
		@extend .white-text;
	}
	h1 {
		@extend .white-text;
		@extend .alpha;
		padding: $half-spacing-unit $half-spacing-unit $half-spacing-unit/2;
	}
	ul {
		@extend .nav;
		@extend .nav--block;
		@extend .nav--stacked;
		@extend .nav--block-break;
		@extend .nav--block-half-margin;
		@extend .flush--bottom;
	}
	.subtitle {
		display: block;
		@extend .zeta;
		@extend .font-style-italic;
	}
}
