.tag-listing {
	.dimmed {
		color: $gray-color;
	}
	padding-left: $half-spacing-unit;
	h1.page-title {
		font-weight: normal;
	}
	.wrapper1,
	.wrapper2,
	.wrapper3,
	.wrapper4,
	.wrapper5,
	.wrapper6,
	.wrapper7 { padding-left: $half-spacing-unit; }
	
	.wrapper {
		border-left: 1px solid $gray-color;
	}
	
	.indent1, 
	.indent2, 
	.indent3, 
	.indent4, 
	.indent5, 
	.indent6, 
	.indent7 {
		li {
			margin-left: -$half-spacing-unit;
			margin-bottom: 2px;
			padding-left: $half-spacing-unit;
			background: $gray-light-color;
			&:hover {
				@extend .border-line-main--left;
				margin-left: -($half-spacing-unit + 1);
			}
		}
	}
	h1.indent1, 
	h2.indent2, 
	h3.indent3, 
	h4.indent4, 
	h5.indent5, 
	h6.indent6 {
		margin-bottom: $half-spacing-unit!important;
		margin-top: $half-spacing-unit!important;
		font-size: 1.1em;
		font-weight: normal;
	}
		
	.link {
		padding-right: $half-spacing-unit/2;
	}
	h1 {
		padding-top: $half-spacing-unit;
	}
	
	
	ul {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 0;
	}
}