.tag-listing {

	.indent2 { padding-left: 12px; }
	.indent3 { padding-left: 24px; }
	.indent4 { padding-left: 36px; }
	.indent5 { padding-left: 48px; }
	.indent6 { padding-left: 60px; }
	.indent7 { padding-left: 72px; }
	
	.indent1, 
	.indent2, 
	.indent3, 
	.indent4, 
	.indent5, 
	.indent6, 
	.indent7 {
		li {
			padding-left: 6px;
			background: #eee;
		}
	}
	.link {
		padding-right: 6px;
	}
	h1 {
		padding-top: 12px;
	}
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 12px!important;
		margin-top: 12px!important;
		font-size: 90%;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 0;
	}
}