/* category structure */
.breadcrumb {
	@extend .milli;
//	@extend .hidden--desk;
//	@extend .hidden--lap;
	padding-bottom: $base-spacing-unit;
	padding-left: $base-spacing-unit;
}
.one_article.breadcrumb {
	padding-left: $base-spacing-unit;
}


.quick-posts-widget-wrapper,
.mellanstart-widget-wrapper {
	margin-left: $base-spacing-unit;
	.mellanstart-wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-flow: dense;
		@include media-query(palm) {
			grid-template-columns: 1fr;
		}
		gap: $base-spacing-unit;
		.mellanstart-post {
			width: 100%;
			&.lagg_till_puff {
				.quick-puff {
					&, a {
						display: flex;
						flex-direction: column;
					}
					// box-shadow: 5.46986px 5.46986px 27.35px 1.64096px rgba(39,92,141,0.1);
					box-shadow: 2px 4px 25px 7px rgb(20 20 30 / 10%);
					transition: all 0.3s ease;
					border-radius: 3px;
					padding-bottom: $half-spacing-unit;
					&:hover {
						// box-shadow: 1px 2px 20px 7px rgb(0 0 0 / 20%);
						// transform: scale(1.01);
					}
					img {
						border-radius: 3px 3px 0 0;
					}
					h2,
					.q-description {
						padding-left: $half-spacing-unit;
						padding-right: $half-spacing-unit;
					}
				}
			}
			.slide {
				@extend .position-relative;
			}
			img.overlay-img {
				@extend .position-absolute;
				padding-right: $base-spacing-unit;
				max-height: calc(100% - 6px);
				width: auto;
				margin: 0 auto;
			}
			a {
				@extend .default-text;
				&.quick-button {
					@extend .white-text;
				}
			}
			h2 {
				@extend .flush--bottom;
				@extend .epsilon;
			}
			.wide-image {
				img.overlay-img {
					margin-left: 23%;
					cursor: pointer;
				}
			}
			.slideshow-image {
				img.overlay-img {
					margin-left: 20%;
					cursor: pointer;
				}
			}
			.quick-driftstorning {
				.driftstorning {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					padding: 12px!important;
    				border-radius: 3px;
					// background-color: $important-color;
					&.urgent {
						border: 2px solid $important-color;
					}
					&.warning {
						border: 2px solid orange;
					}
					&.information {
						border: 2px solid yellowgreen;
					}
					position: relative;
					margin-bottom: $half-spacing-unit;
					.category {
						line-height: 0;
						margin-right: 10px;
					}
					a, span {
						// @extend .white-text;
						
					}
					a {
						font-size: 1.2rem;
					}
					a:hover {
						text-decoration: underline;
					}

					// .dates {
					// 	display: flex;
					// 	gap: 10px;
					// 	@extend .flush--bottom;
					// 	date {
					// 		@include font-size($h6-size);
					// 		font-style: italic;						}
						
					// }
					.close {
						margin-left: auto;
						padding: 10px;
						line-height: 0;
					}
				}
			}
			.quick-code {
				overflow: hidden;
			}
			.quick-tags ul li, 
			.rek-prediction .rek-style-cols ul li {
				padding: 4px 25px 4px 18px;
				flex-basis: auto;
				align-items: flex-start;
			}
			@include media-query(lap-and-up) {
				&.span-rows-2 {
					grid-row: span 2;
				}
				&.span-rows-3 {
					grid-row: span 3;
				}
				&.span-rows-4 {
					grid-row: span 4;
				}
				&.one-whole {
					grid-column: span 12;
				}
				&.one-half {
					grid-column: span 6;
				}
				&.one-third {
					grid-column: span 4;
				}
				&.two-thirds {
					grid-column: span 8;
				}
				&.one-quarter {
					grid-column: span 3;
				}
				&.three-quarters {
					grid-column: span 9;
				}
			}
		}
		
	}	
}

.quick-posts-widget-wrapper {
	@extend .gw;
}

.quick-posts-wrapper {
	@extend .g;
	@extend .one-whole;
    
    .quick-posts {
		@extend .gw;
		.quick-post {
			@extend .g;
			@extend .palm-one-whole;
			@extend .margin--bottom;
			@extend .position-relative;
			.slide {
				@extend .position-relative;
			}
			img.overlay-img {
				@extend .position-absolute;
				padding-right: $base-spacing-unit;
				max-height: calc(100% - 6px);
				width: auto;
				margin: 0 auto;
			}
			a {
				@extend .default-text;
				&.quick-button {
					@extend .white-text;
				}
			}
			h2 {
				@extend .flush--bottom;
				@extend .epsilon;
			}
			&.line-break {
				@extend .one-whole;
				margin: 0;
			}
			&.wide-image {
				img.overlay-img {
					margin-left: 23%;
					cursor: pointer;
				}
			}
			&.slideshow-image {
				img.overlay-img {
					margin-left: 20%;
					cursor: pointer;
				}
			}
		}
	}
}

.hide-left-menu {
	.primary,
	.breadcrumb {
		@extend .g;
		@extend .one-whole;
	}
}
.primary,
.breadcrumb {
	@extend .g;
	@extend .palm-one-whole;
	@extend .lap-two-thirds;
	@extend .desk-two-thirds;
}
.help-navigation {
	@extend .float--left;
	@extend .desk-two-thirds;
	@extend .lap-two-thirds;
	@extend .palm-one-whole;
}
/*
 * sort-order 
 */
@include media-query(lap){
.primary,
.breadcrumb {
	padding-right: $base-spacing-unit*0.25;
}
}
 @include media-query(portable){
.page-header .category-tools .menu-item .sub-menu > li {
	display: table !important;
}
.main {
	//margin: 0 $half-spacing-unit*0.5;
	margin: 0;
}
.primary {
	padding-top: $half-spacing-unit;
}
.primary,
.breadcrumb {
	padding-bottom: $base-spacing-unit;
	padding-left: $base-spacing-unit;
	padding-right: 0;
}
.top-wrapper {
	margin-bottom: 0!important;
}
}

.page-header {
	@extend .milli;
	@extend .one-whole;
	//@extend .border;
	@extend .gray-light-background;
	@extend .border-radius;
	@extend .half-margin--bottom;
	@extend .cf;
	@extend .default-text;
	a {
		@extend .default-text;
	}
	.num-posts,
	.view-tools,
	.sort-order {
		@extend .nav;
		@extend .nav--block;
		@extend .flush--bottom;
		.active {
			@extend .font-weight-bold;
		}
		.desc .arrow {
			width: 0px;
			height: 0px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $main-color;
			display: inline-block;
		}
		.asc .arrow {
			width: 0px;
			height: 0px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $main-color;
			display: inline-block;
		}
		
	}
	
	
	.num-posts {
		@extend .float--left;
	}
	.view-tools {
		@extend .half-margin--right;
	}
	.view-tools,
	.sort-order {
		@extend .float--right;
	}
	.sort-order {
		@extend .force-hidden--portable;
	}
	.category-tools {
		word-spacing: 0;
		@extend .float--right;
		@extend .text--right;
		@extend .nav;
		@extend .nav--block;
		@extend .flush--bottom;
		.related-menu {
			@extend .border-radius--right;
			@extend .main-background;
			&:hover {
				border-radius: 0 $border-radius 0 0;
			}
			a {
				@extend .white-text;
			}
		}
		.menu-item {
			@extend .dropdown;
			.sub-menu {
				@extend .nav;
				@extend .nav--stacked;
				@extend .nav--block;
				@extend .main-background;
				@extend .dropdown__content--right;
				@extend .nav--stacked;
				@extend .text--left;
				@extend .border-radius--bottom;
				z-index: 100;
			}
		}
		
		.tag-menu {
			@extend .gray-background;
			&.rounded {
				@extend .border-radius--right;
				&:hover {
					border-radius: 0 $border-radius 0 0;
				}
				.sub-menu {
					@extend .dropdown__content--right;
				}
			}
			a {
				@extend .black-text;
			}
			;
		}
		.cat-item {
			@extend .dropdown;
			.sub-menu {
				@extend .nav;
				@extend .nav--stacked;
				@extend .nav--block;
				@extend .gray-background;
				@extend .dropdown__content;
				@extend .nav--stacked;
				@extend .text--left;
				@extend .border-radius--bottom;
				z-index: 100;
			}
		}

	}
}
.new-menu .category-navigation {
	@extend .hidden--palm;
}
.pagenav {
	@extend .margin--top;
}


/* search */
.search-hook {
	@extend .lap-one-quarter;
	@extend .desk-one-quarter;
	@extend .g;
}
.post-search-hook {
	@extend .one-whole;
	@extend .g;
}

.search-title {
	@extend .flush--bottom;
}
