.firstpage-top-content {
	@extend .g;
	//@extend .desk-one-half;
	//@extend .lap-one-half;
	//@extend .palm-one-whole;
	@extend .one-whole;
}
.firstpage-sidebar {
	@extend .g;
	@extend .desk-one-quarter;
	@extend .lap-one-half;
	@extend .palm-one-whole;
	@extend .float--right;
}
.firstpage-content {
	@extend .g;
	@extend .desk-one-half;
	@extend .lap-one-half;
	@extend .palm-one-whole;
}
.firstpage-pre-footer-sidebar {
	@extend .g;
	@extend .one-whole;
}

.time {
	@extend .cf;
	@extend .complement-text;
	@extend .font-style-italic;
	@extend .zeta;
	display: block;
}
.read-more-link {
	@extend .half-margin--top;
	@extend .half-margin--bottom;
	@extend .cf;
	display: inline-block;
}
.read-more-widget {
	@extend .half-margin--top;
}
.newscontent {
	@extend .margin--bottom;
}
.newscontent .widget {
	@extend .flush--bottom;
}

.main .widget {
	.entry-wrapper {
		@extend .half-margin--bottom;
	}
}
/* driftinfo - widget_hk_wp_feed_rss_widget */
.widget_hk_wp_feed_rss_widget.widget {
	@extend .islet;
	@extend .border-radius;
	@extend .important-background;
	a, span, h1 {
		@extend .white-text;
	}
	h1 {
		padding-top: 0;
		@extend .float--left;
		@extend .one-whole;
		@extend .alpha;
	}
	.content-wrapper {
		&.hide_date .entry-wrapper {
			@extend .flush--bottom;
		}
		@extend .float--left;
		@extend .one-whole;
		@extend .cf;
	}
	&.horizontal {
		h1 {
			padding-bottom: 0;
			margin-bottom: 0!important;
			@extend .desk-three-tenths;
			@extend .lap-four-tenths;
			@extend .palm-one-whole;
		}
		.content-wrapper {
			@extend .desk-seven-tenths;
			@extend .lap-six-tenths;
			@extend .palm-one-whole;
		}
		.entry-wrapper {
			@extend .flush--bottom;
			span, a {
				@extend .float--left;
				@extend .margin--right;
			}
			@extend .cf;
		}	
	}
}

.img-wrapper {
	line-height: 0;
}
.slideshow {
	@extend .margin--bottom;
	.slideshow_bg {
		@extend .one-whole;
	}
	.slide {
		img {
			@extend .one-whole;
		}
		.caption-area {
			@extend .float--left;
			@extend .position-absolute--bottom-left;
			@extend .one-whole;
			z-index: 1000;
			.transparent {
				@extend .position-absolute;
				@extend .one-whole;
				@extend .default-background;
				height: 100%;
				opacity: 0.9;
				z-index: 1050;
				border-bottom-left-radius: $border-radius;
			}
			.caption {
				@extend .white-text;
				@extend .position-relative;
				@extend .islet;
				@extend .flush--bottom;
				line-height: 1.5;
				display: block;
				z-index: 1100;
				
			}
		}
	}
}
.home .img-wrapper .slideshow {
	@extend .force-hidden--palm;
}
.home .slideshow-contact-puff-area {
	line-height: 0;
	@extend .cf;
	@extend .position-relative;
	@extend .one-whole;
	overflow: hidden;
	.slideshow {
		.caption-area {
			@extend .one-half;
		}
	}
	img {
		@extend .one-whole;
	}
	.content-wrapper {
		@extend .one-half;
		@extend .padding--bottom;
		opacity: 0.9;
		@extend .position-absolute--top-right;
		z-index: 200;
		height: 100%;
		.complement-italic-text {
			line-height: 0;
		}
		h1 {
			@extend .alpha;
			@extend .float--left;
			@extend .one-whole;
			@extend .noborder;
			padding: 0;
			a {
				@extend .margin--top;
				@extend .margin--right;
				@extend .margin--left;
				@extend .half-padding--bottom;
				display: block;
			}
			.contact-icon {
				@extend .float--left;
			}
			.main-contact-link {
				@extend .float--left;
			}
			.more-contact-link {
				@extend .zeta;
				@extend .cf;
				@extend .font-style-italic;
			}
		}
		ul {
			@extend .flush;
			@extend .nav;
			@extend .nav--block;
			@extend .nav--block-half-margin;
			@extend .nav--block-double-margin;
			@extend .nav--block-break;
			@extend .nav--stacked;
		}
		.left-content {
			height: 100%;
			@extend .float--left;
			@extend .palm-one-whole;
			@extend .lap-one-whole;
			@extend .desk-one-whole;
			@extend .main-background;
			@extend .white-text;
			.complement-italic-text, a {
				@extend .white-text;
			}

		}
		.two.left-content {
			@extend .desk-seven-tenths;
		}
		.right-content {
			height: 100%;
			@extend .float--left;
			@extend .hide--palm;
			@extend .hide--lap;
			@extend .desk-three-tenths;
			.direct_link:first-child {
				border-top-right-radius: $border-radius;
			}
			.direct_link:last-child {
				border-bottom-right-radius: $border-radius;
			}
			.direct_link1, .direct_link2, .direct_link3, .direct_link4, .direct_link5 {
				@extend .default-background;
				@extend .white-text;
				@extend .one-whole;
				@extend .islet;
				@extend .beta;
				@extend .flush;
				.complement-italic-text, a {
					@extend .white-text;
				}
			}		
		}
	}
}
.home .contact-area .contact-wrapper {
	line-height: 0;
	@extend .gray-image-background;
	@extend .cf;
	@extend .position-relative;
	@extend .one-whole;
	overflow: hidden;
	img {
		@extend .one-whole;
	}
	.content-wrapper {
		.complement-italic-text {
			line-height: 0;
		}
		@extend .position-absolute--top-left;
		h1 {
			@include media-query(palm){
				padding: 0;
			}
			@include media-query(lap){
				padding: 0;
			}
			@extend .float--left;
			@extend .one-whole;
			@extend .noborder;
			a {
				@extend .margin--top;
				@extend .margin--right;
				@extend .margin--left;
				@extend .half-padding--bottom;
				display: block;
			}
		}
		ul {
			@extend .float--left;
			@extend .half-margin--top;
			@extend .nav;
			@extend .nav--block;
			@extend .nav--block-half-margin;
			@extend .nav--block-double-margin;
			@extend .nav--block-break;
			@extend .nav--stacked;
		}
		ul.two {
			@extend .palm-one-whole;
			@extend .lap-one-whole;
			@extend .desk-one-half;
		}
		ul.right-content {
			@extend .border--left;
			@extend .hide--palm;
			@extend .hide--lap;
		}
	}
}
.main .widget.horizontal-list.widget_hk_related_widget,
.main .widget.horizontal-list.HK_tags_widget {
	h1 {
		@extend .float--left;
		width: auto;
	}
	ul {
		@extend .nav;
		@extend .nav--block;
		@extend .nav--block-break;
		@extend .flush--bottom;
	}
}


.main .widget.widget_hk_textwidget {
	h1 {
		@extend .alpha;
	}
	.inner-wrapper {
		@extend .border-radius;
		@extend .islet;
		img {
		
		}
		.content {
			padding-bottom: 0;
		}
	}
	.content {
		float: none!important;
	}
}
.main .widget.widget_hk_aditro_rss_widget .entry-wrapper {
	margin-bottom: $half-spacing-unit/2!important;
	a {
		padding-bottom: 0!important;
	}
	.time {
		@extend .white-text;
		padding-bottom: $half-spacing-unit/2!important;
		padding-left: $half-spacing-unit;
	}
}
.main .widget.widget_hk_aditro_rss_widget,
.main .widget.widget_hk_related_widget,
.main .widget.widget_hk_protocol,
.main .widget.HK_tags_widget {
	@extend .border-radius;
	@extend .main-background;
	@extend .cf;
	a {
		@extend .white-text;
	}
	h1 {
		@extend .white-text;
		@extend .gamma;
		padding: $half-spacing-unit/2 $half-spacing-unit;
	}
	ul {
		@extend .nav;
		@extend .nav--block;
		@extend .nav--stacked;
		@extend .nav--block-break;
		@extend .nav--block-half-margin;
		@extend .flush--bottom;
	}
	.subtitle {
		display: block;
		@extend .zeta;
		@extend .font-style-italic;
	}
}
