/* text colors */
html {
	@extend .default-text;
}
a,
a:active,
a:focus {
	@extend .main-text;
}
a:hover {
	@extend .hover-text;
	text-decoration: none;
}


html {
	font-family: $face;
}

.content--center {
	margin: 0 auto;
	max-width: 1200px;
}

.branding,
.main {
	@extend .content--center;
}
.main-wrapper {
	@extend .gw;
}

.wait {
	cursor:pointer;
}
img {
	@extend .border-radius;
}
.widget {
	@extend .margin--bottom;
	@extend .epsilon;
	h1 {
		@extend .one-whole;
		@extend .epsilon;
		@extend .border--bottom;
	}
}

/* extend nav--block with breaking white-space */
.nav--block-break {
	white-space:normal!important;
}

.nav--block-half-margin li a {
	padding-top: $half-spacing-unit/2;
	padding-bottom: $half-spacing-unit/2;
}

.nav--block-double-margin li a {
	padding-left: $base-spacing-unit;
	padding-right: $base-spacing-unit;
}

.icon-left {
	@extend .float--left;
	@extend .milli;
	width: $base-spacing-unit;
}
.icon-right {
	@extend .margin--left;
	@extend .padding--right;
	@extend .one-whole;
}

 /*
 * Responsive helper
 */
#responsive-info
{
	@extend .position-fixed--bottom-right;
	@extend .islet;
	@extend .flush--bottom;
	background: black;
	color: white;
	font-weight: bold;
	z-index: 10000;
	border-top-left-radius: 0.4em;
}


