.contact-wrapper .content {
	@extend .complement-italic-text;
}
.icon-left .i {
	@extend .force-gray-text;
}

/* the article content */
article.post {
	@extend .landmark;
	@extend .one-whole;
	@extend .cf;
}
.article-border-wrapper {
	@extend .float--left;
	@extend .one-whole;
	@extend .border--top;
	@extend .border--bottom;
}
.post h1.entry-title {
	@extend .two-thirds;
}

/* hide article-wrapper if only titles */
.viewmode-only-titles {
	.summary .article-border-wrapper {
		@extend .hidden;
	}
	h1.entry-title {
		@extend .epsilon;
	}
	article.post {
		@extend .flush--bottom;
	}
}

/* article style */
.archive .article-wrapper {
	@extend .one-third-gray-background;
}
.article-wrapper {
	@extend .float--left;
	@extend .one-whole;
	overflow: hidden;

	a {
		@extend .force-font-style-normal;
		@extend .font-weight-bold;
	}
	.summary-content {
		@extend .hand;
	}
	.summary-content a,
	.more-content .content a {
		border-bottom: 1px dotted $main-color;
	}
	.content-wrapper {
		@extend .margin--top;
		@extend .float--left;
		@extend .desk-two-thirds;
		@extend .lap-one-whole;
		@extend .palm-one-whole;
	}
	.side-content {
		@extend .float--left;
		@extend .desk-one-third;
		@extend .lap-one-whole;
		@extend .palm-one-whole;
		@extend .island;
		@extend .zeta;
		padding-bottom: 100%;
		margin-bottom: -100%;
	}
	@include media-query(desk) {
	.side-content {
		float: right!important;
	}
	}
	.entry-meta {
		@extend .float--left;
		@extend .desk-two-thirds;
		@extend .lap-one-whole;
		@extend .palm-one-whole;
	}
	.closeButton {
		@extend .desk-two-thirds;
		@extend .lap-one-whole;
		@extend .palm-one-whole;
	}
	.footer-wrapper {
		border-left: 4px solid $complement-color;	
		padding-left: $base-spacing-unit - 4px;
		@extend .nav;
		@extend .complement-text;
		@extend .font-style-italic;
		@extend .milli;
		li {
			display: block;
		}
	}

}
@include media-query(palm) {
.article-wrapper {
	background: transparent;
}
}
@include media-query(lap) {
.article-wrapper {
	background: transparent;
}
}
/* article footer*/
.summary .entry-meta {
	@extend .hidden;
}

/* featured images */
.summary .img-wrapper {
	@extend .img--left;
	@extend .flush--bottom;
	@extend .one-half;
}
.content {
	@extend .float--left;
	@extend .padding--right;
	@extend .padding--bottom;
	@extend .one-whole;
}
.post .img-wrapper {
	@extend .float--left;
	@extend .one-whole;
}
.slide {
	@extend .one-whole;
}
.pager {
	@extend .nav;
	@extend .nav--block;
	@extend .position-absolute--top-left;
	@extend .islet;
	z-index: 10;
}
@include media-query(palm) {
.entry-title,
.content-wrapper,
.entry-meta,
.summary .img-wrapper {
	width: 100%;
}
}

/* embedded contact image */
.contact-area .img-wrapper {
	@extend .float--left;
	@extend .one-quarter;
}


/* aside content */
.box li {
}
.contacts,
.related-wrapper,
.tools {
	@extend .nav;
	@extend .nav--stacked;
}
.addthis_toolbox a {
	@extend .float--left;
	@extend .hidden;
	@extend .half-margin--left;
}
.summary .full {
	@extend .hidden;
}
@include media-query(palm) {
.summary .summary {
	display: none;
}
}
@include media-query(lap) {
.summary .summary {
	display: none;
}
}
@include media-query(desk) {
.summary-content,
.more-content {
	padding-right: $base-spacing-unit;
}
}


