/* category structure */
.breadcrumb {
	@extend .g;
	@extend .palm-one-whole;
	@extend .lap-three-quarters;
	@extend .desk-three-quarters;
	
	@extend .milli;
//	@extend .hidden--desk;
//	@extend .hidden--lap;
	padding-bottom: $base-spacing-unit*0.25;
	padding-left: $base-spacing-unit*1.5;
}
.one_article.breadcrumb {
	padding-left: $base-spacing-unit;
}

.primary {
	@extend .g;
	@extend .palm-one-whole;
	@extend .lap-three-quarters;
	@extend .desk-three-quarters;
}
.help-navigation {
	@extend .float--left;
	@extend .desk-two-thirds;
	@extend .lap-two-thirds;
	@extend .palm-one-whole;
}
/*
 * sort-order 
 */
 @include media-query(portable){
.page-header .category-tools .menu-item .sub-menu > li {
	display: table !important;
}
}

.page-header {
	@extend .milli;
	@extend .one-whole;
	//@extend .border;
	@extend .gray-light-background;
	@extend .border-radius;
	@extend .half-margin--bottom;
	@extend .cf;
	@extend .default-text;
	a {
		@extend .default-text;
	}
	.num-posts,
	.view-tools,
	.sort-order {
		@extend .nav;
		@extend .nav--block;
		@extend .flush--bottom;
		.active {
			@extend .font-weight-bold;
		}
		.desc .arrow {
			width: 0px;
			height: 0px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $main-color;
			display: inline-block;
		}
		.asc .arrow {
			width: 0px;
			height: 0px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $main-color;
			display: inline-block;
		}
		
	}
	
	
	.num-posts {
		@extend .float--left;
	}
	.view-tools {
		@extend .half-margin--right;
	}
	.view-tools,
	.sort-order {
		@extend .float--right;
	}
	.category-tools {
		word-spacing: 0;
		@extend .float--right;
		@extend .text--right;
		@extend .nav;
		@extend .nav--block;
		@extend .flush--bottom;
		.related-menu {
			@extend .border-radius--right;
			@extend .main-background;
			&:hover {
				border-radius: 0 $border-radius 0 0;
			}
			a {
				@extend .white-text;
			}
		}
		.menu-item {
			@extend .dropdown;
			.sub-menu {
				@extend .nav;
				@extend .nav--stacked;
				@extend .nav--block;
				@extend .main-background;
				@extend .dropdown__content--right;
				@extend .nav--stacked;
				@extend .text--left;
				@extend .border-radius--bottom;
				z-index: 100;
			}
		}
		
		.tag-menu {
			@extend .gray-background;
			&.rounded {
				@extend .border-radius--right;
				&:hover {
					border-radius: 0 $border-radius 0 0;
				}
				.sub-menu {
					@extend .dropdown__content--right;
				}
			}
			a {
				@extend .black-text;
			}
			;
		}
		.cat-item {
			@extend .dropdown;
			.sub-menu {
				@extend .nav;
				@extend .nav--stacked;
				@extend .nav--block;
				@extend .gray-background;
				@extend .dropdown__content;
				@extend .nav--stacked;
				@extend .text--left;
				@extend .border-radius--bottom;
				z-index: 100;
			}
		}

	}
}
.pagenav {
	@extend .margin--top;
}


/* search */
.search-hook {
	@extend .lap-one-quarter;
	@extend .desk-one-quarter;
	@extend .g;
}
.post-search-hook {
	@extend .one-whole;
	@extend .g;
}
