/* text colors */
body {
	@extend .default-text;
	@extend .white-background;
}
a {
	cursor: pointer;
}
a,
a:active,
a:focus {
	outline: none;
	@extend .link-text;
}
input:focus {
	outline: none;
}

a:hover {
	@extend .hover-text;
	@extend .text-decoration-underline;
}


ul,ol,dd{
    margin-left:$base-spacing-unit;
    margin-left:math.div($base-spacing-unit, $base-font-size)*1rem;
}


html {
	font-family: $face;
}


/* page style */
.page-content {
	@extend .g;
	@extend .one-whole;
}


/* Alignment */
.alignleft {
	@extend .margin--right;
	@extend .float--left;
	display: inline;
}
.alignright {
	@extend .margin--left;
	@extend .float--right;
	display: inline;
}
.aligncenter {
	@extend .cf;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content--center {
	margin: 0 $half-spacing-unit;
}
@include media-query(desk) {
.content--center {
	margin: 0 auto;
	max-width: $desk-wide-start - $half-spacing-unit;
}
}
@include media-query(desk) {
.small-content--center {
	margin: 0 auto;
	max-width: $desk-start - $half-spacing-unit;
}
}
.branding {
	@extend .one-whole;
	// @extend .float--left;
}
@include media-query(palm) {
	.branding {
		margin-bottom: $half-spacing-unit;
	}
}
.menu-wrapper,
.main.hk-quick,
.home .main {
	@extend .content--center;
}
.main {
	@extend .small-content--center;
}
.main-wrapper {
	@extend .gw;
}

.nolink,
.nolink:hover {
	cursor:default;
	text-decoration:none;
}
.wait {
	cursor:wait;
}
.hand {
	cursor:pointer;
}
.button {
	@extend .gray-light-background;
	@extend .default-text;
	@extend .border-line;
	@extend .border-radius;
	float:right;
	cursor:pointer;
	padding: 0 $half-spacing-unit*0.5 0;
	background-position: 0 0;	
}
.button:hover {
	background-position: 0 -100px;	
	text-decoration: none;
}
img {
	@extend .border-radius;
}
.logo img {
	border-radius: 0;
}

.primary td, .primary th {
	border: 1px solid $gray-light-color;
}
.primary.searchresult td, .primary.searchresult th {
	border: 0;
}

.widget {
	@extend .margin--bottom;
	@extend .epsilon;
	
	.widget-title,
	.entry-title {
		@extend .one-whole;
		@extend .gamma;
		margin: 0;
		padding: $half-spacing-unit 0;
		line-height: 1;
		font-weight: normal;
	}
}

/* extend nav--block with breaking white-space */
.nav--block-break {
	white-space:normal!important;
}

.nav--block-half-margin li a {
	padding-top:$half-spacing-unit*0.5;
	padding-top:math.div($half-spacing-unit, $base-font-size)*0.5*1rem;
	padding-bottom: $half-spacing-unit*0.5;
	padding-bottom:math.div($half-spacing-unit, $base-font-size)*0.5*1rem;
}

.nav--block-double-margin li a {
	padding-left:$base-spacing-unit;
	padding-left:math.div($base-spacing-unit, $base-font-size)*1rem;
	padding-right: $base-spacing-unit;
	padding-right:math.div($base-spacing-unit, $base-font-size)*1rem;
}

.icon-left {
	@extend .float--left;
}

.icon-right {
	@extend .margin--left;
	@extend .padding--right;
	@extend .one-whole;
}
	
@include media-query(portable){
.icon-left {
    line-height: 1.7em !important;
}
}
/*
 * citybreak reset
 */
 /*
 #cb_init_bookingengine *,
.Citybreak_engine * {
	@include vendor(box-sizing, initial!important);
}*/

/* chatnox fix */
.chatNox .chatnox-widget {
	z-index: 10000!important;
}

 /*
 * Responsive helper
 */


#hk_allcomingreviews_dashboard_widget .inside,
#hk_alllatestposts_dashboard_widget .inside,
#hk_allhidden_dashboard_widget .inside {
	height: 150px;
	overflow: auto;
}

#post-nothing {
	padding: $base-spacing-unit 0 0 $half-spacing-unit;
}

/* GCal Events */
.gce-list-event {
	@extend .force-white-background;
	@extend .font-weight-bold;
	margin: 0!important;
	padding: 0!important;
}


/* filter tools */
.filtersearch,
.tag-tools {
	@extend .float--left;
	@extend .half-margin--bottom;
	@extend .one-whole;
	@extend .gray-background;
	@extend .border-radius;
	@extend .islet;
}
.tag-tools {
	@extend .half-margin--top;
}