/*.top-menu a:hover,
.top-menu .menu-item:hover,
.main-menu a:hover,
.main-sub-menu a:hover,
.ui-tabs-nav .ui-state-hover {
	-moz-transition: color .2s linear, background-color .2s linear;
	-webkit-transition: color .2s linear, background-color .2s linear;
	-o-transition: color .2s linear, background-color .2s linear;
	-ms-transition: color .2s linear, background-color .2s linear;
	transition: color .2s linear, background-color .2s linear;
}
.top-menu a,
.main-menu a,
.main-sub-menu a,
.ui-tabs li.ui-state-default {
	-moz-transition: color .6s linear, background-color .6s linear;
	-webkit-transition: color .6s linear, background-color .6s linear;
	-o-transition: color .6s linear, background-color .6s linear;
	-ms-transition: color .6s linear, background-color .6s linear;
	transition: color .6s linear, background-color .6s linear;
}*/