/* =firstpage ui-tabs
----------------------------------------------- */
.ui-tabs-nav {
	@extend .nav;
	@extend .nav--block;
	@extend .nav--block-double-margin;
	@extend .flush--bottom;
	margin-bottom: $half-spacing-unit;
	a {
		@extend .default-text;
	}
	.ui-state-active,
	.ui-state-hover {
		@extend .border-radius--top;
		@extend .gray-light-background;
		border-bottom: $border-width solid $default-color;
	}
	.ui-state-default {
	}
	@extend .border-image--bottom;
}
.ui-tabs article
{
}
.ui-tabs ul.post_tabs_title
{
    overflow: hidden;
}
 
.ui-tabs li.ui-state-default
{
    @extend .float--left;
    cursor: pointer;
	@extend .font-weight-bold;
}
.widget .widget-title span
{
	@extend .font-weight-bold;
}
.ui-tabs .ui-tabs-panel
{
    display: block;
}
.ui-tabs .ui-tabs-hide
{
    @extend .hidden;
}

.ui-widget-content ul {
/*	@extend .nav;
	@extend .nav--block;
	@extend .nav--stacked;
	@extend .nav--block-half-margin;
	@extend .nav--block-double-margin;*/
}
