/* Remove top wrapper */
.top-menu-wrapper {
	display: none;
}
a {
	/*color: rgb(65, 128, 59);*/
}
.article-border-wrapper {
/*	border-bottom: 2px dotted rgb(28, 131, 14);
	border-top: 2px dotted rgb(28, 131, 14);*/
}
.main-sub-menu a {
	color: #fff;
}
body {
	background-image: url("wall4.1.png");
	background-repeat: repeat;
	background-size: initial;
}
.responsive-navigation {
	background-color: #464646;
}
.main-menu {
	background-image: url("main_menu_bg.png");
	background-repeat: repeat-x;
	/*text-align: center;*/
	line-height: 1.5;
	font-size: 1.25em;
	background-color: #000;
	border-bottom: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.main-menu a {
	color: rgb(241, 241, 241);
}
.main-menu li {
	/*border-right: 1px solid rgb(52, 114, 43);*/
}
.main-sub-menu {
	background-image: url("sub_menu_bg.png");
	background-color: rgb(94, 94, 94);
	line-height: 1.4;
	letter-spacing: 0.6em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.main-sub-menu li a {
	/*padding: 5px 12px;*/
}
.menu-item a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.main-menu a:hover, .main-menu:hover a:hover {
	background-color: black !important;
	-moz-box-shadow: inset 0px -2px #fff;
	-webkit-box-shadow: inset 0px -2px #fff;
	box-shadow: inset 0px -2px #fff;
}
.main-menu .current-menu-item a {
	background-color: rgb(58, 58, 58);
/*	-moz-box-shadow: inset 0px -2px #fff;
	-webkit-box-shadow: inset 0px -2px #fff;
	box-shadow: inset 0px -2px #fff;*/
}

.top-wrapper {
	margin-top: 33px;
	margin-bottom: 1.3rem;
}
.searchnavigation .form .input-wrapper .field {
	-moz-box-shadow: 3px 6px 8px #888;
	-webkit-box-shadow: 3px 6px 8px #888;
	box-shadow: 3px 6px 8px #888;
}
.searchnavigation .form .submit {
	-moz-box-shadow: 3px 6px 8px #888;
	-webkit-box-shadow: 3px 6px 8px #888;
	box-shadow: 3px 6px 8px #888;
}

/*.img-wrapper {
	box-shadow: 0px 0px 0px 9px #000;
}
*/
h1 a {
	color: #464646;
}
.searchnavigation .form .input-wrapper {
	background-color: #464646;
	/*border: 1px solid */
}
.searchnavigation .form .input-wrapper .field {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.searchnavigation .form .submit {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.footer-widget-wrapper {
	/*padding-bottom: 0;*/
}
.footer2-sidebar, .footer2-wrapper, .footer2-wrapper a, .footer-image-wrapper {
	/*background-color: rgb(29, 29, 29);*/
	background-image: url("footerBackground.jpg");
}
.footer2-wrapper {
	background-image: url("footerborder2.png");
	background-color: rgb(34, 34, 34);
	background-repeat: repeat-x;
}
.widget h1 {
	font-size: 1.5em;
	color: rgb(129, 129, 129);
}