.dropdown {
    position:relative;
}
    .dropdown__content{
        position:absolute;
        display: none;
		z-index: 1000;
    }
    .dropdown__content--left{
        position:absolute;
        left: 0;
        display: none;
    }
    .dropdown__content--right{
        position:absolute;
        right: 0;
        display: none;
    }
    
    /**
     * Bring the dropdowns into view when you hover their parents.
     * Two different types of dropdown; ‘regular’ (`.dropdown`) and ‘alternative’
     * (`.dropdown--alt`).
     */
    .dropdown:hover{
        
    }
    
    /**
     * Regular dropdowns sit all the way from the top, flush left.
     */
    .dropdown:hover > .dropdown__content,
    .dropdown:hover > .dropdown__content--left,
    .dropdown:hover > .dropdown__content--right,
    .dropdown:active > .dropdown__content,
    .dropdown:active > .dropdown__content--left,
    .dropdown:active > .dropdown__content--right,
    .dropdown:focus > .dropdown__content,
    .dropdown:focus > .dropdown__content--left,
    .dropdown:focus > .dropdown__content--right {
        display: block;
    }
    