.dropdown {
    position:relative;
}
    .dropdown__content{
        /**
         * Position the dropdowns off-screen. This is typically better than
         * `display:none;`.
         */
        position:absolute;
        left: 0;
        display: none;
    }
    .dropdown__content--right{
        right: 0;
    }
    
    /**
     * Bring the dropdowns into view when you hover their parents.
     * Two different types of dropdown; ‘regular’ (`.dropdown`) and ‘alternative’
     * (`.dropdown--alt`).
     */
    .dropdown:hover{
        
    }
    
    /**
     * Regular dropdowns sit all the way from the top, flush left.
     */
    .dropdown:hover > .dropdown__content{
        display: block;
    }
    